<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="org.opaeum.simulation.actions.SimulationStartup"></startup>
 </extension>
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections contributorId="TreeOutlinePage">
			<propertySection
				id="org.opaeum.simulation.propertysections.WeightedInstanceValueInstanceSection"
				tab="org.opaeum.eclipse.opaeumTab"
				filter="org.opaeum.simulation.filters.WeightedInstanceValueFilter"
				class="org.opaeum.simulation.propertysections.WeightedInstanceValueInstanceSection">
			</propertySection>
			<propertySection
				id="org.opaeum.simulation.propertysections.WeightedInstanceValueWeightSection"
				tab="org.opaeum.eclipse.opaeumTab"
				filter="org.opaeum.simulation.filters.WeightedInstanceValueFilter"
				class="org.opaeum.simulation.propertysections.WeightedInstanceValueWeightSection">
			</propertySection>
		</propertySections>
	</extension>
</plugin>
