<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://maven.apache.org/POM/4.0.0"
            class="org.apache.maven.pom._4._0._0Package"
            genModel="model/maven-4.0.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="_0"
            class="org.apache.maven.pom._4._0.util._0ResourceFactoryImpl"/>
   </extension>

</plugin>
