<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             adaptable="true"
             id="net.sf.nakeduml.uml2uim.actions.graphic.menu"
             objectClass="org.topcased.modeler.uml.alldiagram.edit.ElementEditPart">
          <menu
                id="org.nakeduml.graphic.menu"
                label="NakedUML">
             <groupMarker
                   name="numlActionsGroup">
             </groupMarker>
          </menu>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="net.sf.nakeduml.uml2uim.actions.outline.menu"
             objectClass="org.eclipse.uml2.uml.NamedElement">
          <menu
                id="org.nakeduml.outline.menu"
                label="NakedUML">
             <groupMarker
                   name="numlActionsGroup">
             </groupMarker>
          </menu>
       </objectContribution>       
    </extension>
    <extension
          point="org.eclipse.ui.popupMenus">
        <objectContribution
             id="org.nakeduml.eclipse.actions.importsimpletypes"
             objectClass="org.eclipse.uml2.uml.Model">
          <action
                class="org.nakeduml.eclipse.ImportSimpleTypesAction"
                enablesFor="*"
                id="org.nakeduml.eclipse.ImportSimpleTypesAction"
                label="Import NakedUML Simple Types"
                menubarPath="org.nakeduml.outline.menu/numlActionsGroup">
          </action>         
       </objectContribution>
    </extension>
    <extension
          point="org.eclipse.ui.popupMenus">
        <objectContribution
             id="org.nakeduml.eclipse.applysimpletypes"
             objectClass="org.eclipse.uml2.uml.Model">
          <action
                class="org.nakeduml.eclipse.ApplyProfileAction"
                enablesFor="*"
                id="org.nakeduml.eclipse.ApplyNakedUMLProfileAction"
                label="Apply NakedUML Profile"
                menubarPath="org.nakeduml.outline.menu/numlActionsGroup">
          </action>
          <action
                class="org.nakeduml.eclipse.ApplyProfileAction"
                enablesFor="*"
                id="org.nakeduml.eclipse.ApplyNakedUMLProfileForBPMAction"
                label="Apply BPM Profile"
                menubarPath="org.nakeduml.outline.menu/numlActionsGroup">
          </action>
       </objectContribution>
    </extension>
</plugin>
