/nakedumltest/cmdatagenerationtests/.classpath
/nakedumltest/cmdatagenerationtests/.project
/nakedumltest/cmdatagenerationtests/src/main/generated-java
/nakedumltest/cmdatagenerationtests/src/main/generated-resources
