/org.nakeduml.ocl.metamodel/target
/org.nakeduml.ocl.java.generator/target
/org.nakeduml.java.generator/target
/org.nakeduml.metamodels/target
/org.nakeduml.generators/target
/org.nakeduml.ocl.metamodel/test-output
/org.nakeduml.ocl.java.generator/test-output
/org.nakeduml.java.generator/test-output
/org.nakeduml.metamodels/test-output
/org.nakeduml.generators/test-output

/nakedumltest/cmdatagenerationtests/.classpath
/nakedumltest/cmdatagenerationtests/.project
/nakedumltest/cmdatagenerationtests/src/main/generated-java
/nakedumltest/cmdatagenerationtests/src/main/generated-resources
/nakedumltest/audittests/src/main/generated-resources
/nakedumltest/audittests/src/main/generated-java
/nakedumltest/audittests/src/test/generated-java
/nakedumltest/audittests/src/test/generated-resources
/nakedumltest/audittests/src/test/generated-resource-jbossas
/nakedumltest/audittests/target
/nakedumltest/jbpmtest/src/main/generated-resources
/nakedumltest/jbpmtest/src/main/generated-java
/nakedumltest/jbpmtest/target
/nakeduml-runtime-domain/target
/nakeduml-runtime-adaptor/target
/nakeduml-test-adaptor/target
/nakedumltest/jbpmtest/.classpath
/nakedumltest/jbpmtestintegration/jbpm-adaptor/.classpath
/nakedumltest/jbpmtestintegration/jbpm-adaptor/.project
/nakeduml-runtime-adaptor/.settings/
/nakeduml-runtime-domain/.settings/
/nakedumltest/jbpmtestintegration/jbpm-adaptor/.settings/
/nakedumltest/jbpmtestintegration/jbpm-adaptor/src/main/generated-java/
/nakedumltest/jbpmtestintegration/jbpm-domain/.classpath
/nakedumltest/jbpmtestintegration/jbpm-domain/.project
/nakedumltest/jbpmtestintegration/jbpm-adaptor/target/
/nakedumltest/jbpmtestintegration/jbpmtestintegration-integrated/.classpath
/nakedumltest/jbpmtestintegration/jbpmtestintegration-integrated/.project
/nakedumltest/jbpmtestintegration/jbpmtestintegration-integrated/.settings/
/nakedumltest/jbpmtestintegration/jbpmtestintegration-integrated/src/main/generated-java/
/nakedumltest/jbpmtestintegration/jbpmtestintegration-web/.classpath
/nakedumltest/jbpmtestintegration/jbpmtestintegration-web/.project
/nakedumltest/jbpmtestintegration/.project
/nakedumltest/jbpmtestintegration/.settings/
/nakeduml-test-adaptor/.settings/
/nakedumltest/jbpmtestintegration/jbpm-adaptor/src/main/generated-resources/
/nakedumltest/jbpmtestintegration/jbpm-adaptor/src/test/generated-java/
/nakedumltest/jbpmtestintegration/jbpm-domain/.settings/
/nakedumltest/jbpmtestintegration/jbpm-domain/src/main/generated-java/
/nakedumltest/jbpmtestintegration/jbpm-domain/src/main/generated-resources/
/nakedumltest/jbpmtestintegration/jbpm-domain/target/
/nakedumltest/jbpmtestintegration/jbpm-adaptor/src/test/generated-resources/
/nakedumltest/jbpmtestintegration/jbpmtestintegration-integrated/src/main/generated-resources/
/nakedumltest/jbpmtestintegration/jbpmtestintegration-web/.settings/
/nakedumltest/jbpmtestintegration/jbpmtestintegration-web/target/
/nakedumltest/jbpmtestintegration/jbpm-domain/src/test/generated-java/
/nakedumltest/jbpmtestintegration/jbpmtestintegration-integrated/target/
/nakedumltest/jbpmtestintegration/jbpm-domain/src/test/generated-resources/
/nakedumltest/jbpmtestintegration/jbpm-domain/test-output/
/nakedumltest/jbpmtestintegration/jbpmtestintegration-web/test-output/
