InterfaceTests-adaptor/.classpath
InterfaceTests-adaptor/.project
InterfaceTests-adaptor/.settings
InterfaceTests-adaptor/pom.xml
InterfaceTests-adaptor/src/main/generated-java
InterfaceTests-adaptor/src/main/generated-resources
InterfaceTests-adaptor/src/test/generated-java
InterfaceTests-adaptor/src/test/generated-resources
InterfaceTests-adaptor/target
InterfaceTests-adaptor/test-output
InterfaceTests-domain/.classpath
InterfaceTests-domain/.project
InterfaceTests-domain/.settings
InterfaceTests-domain/pom.xml
InterfaceTests-domain/src/main/generated-java
InterfaceTests-domain/src/test/generated-java
InterfaceTests-domain/src/test/generated-resources
InterfaceTests-domain/target
InterfaceTests-domain/test-output
interfacemodel-generator/.classpath
interfacemodel-generator/.project
interfacemodel-generator/.settings
interfacemodel-generator/pom.xml
interfacemodel-generator/target
interfacemodel-generator/test-output
interfacemodel-integrated/.classpath
interfacemodel-integrated/.project
interfacemodel-integrated/.settings
interfacemodel-integrated/pom.xml
interfacemodel-integrated/src/main/generated-java
interfacemodel-integrated/src/main/generated-resources
interfacemodel-integrated/src/test/generated-java
interfacemodel-integrated/target
interfacemodel-integrated/test-output
interfacemodel-web/.classpath
interfacemodel-web/.project
interfacemodel-web/.settings
interfacemodel-web/pom.xml
interfacemodel-web/target
interfacemodel-web/test-output
