<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.opaeum.eclipse.core.transformationStep" name="TransformationStep" schema="schema/transformationStep.exsd"/>
   <extension-point id="org.opaeum.eclipse.core.sourceFolderStrategy" name="SourceFolderStrategy" schema="schema/sourceFolderStrategy.exsd"/>
   <extension-point id="org.opaeum.eclipse.core.modelLibrary" name="modelLibrary" schema="schema/modelLibrary.exsd"/>
   <extension-point id="org.opaeum.eclipse.core.profile" name="Profile" schema="schema/profile.exsd"/>
   <extension-point id="org.opaeum.eclipse.core.strategyFactory" name="StrategyFactory" schema="schema/strategyFactory.exsd"/>
   <extension-point id="org.opaeum.eclipse.core.createChildAction" name="CreateChildAction" schema="schema/createChildAction.exsd"/>
   <extension-point id="createChildActionProvider" name="CreateChildActionProvider" schema="schema/createChildActionProvider.exsd"/>
   <extension
         point="org.opaeum.eclipse.core.createChildActionProvider">
      <createChildActionProvider
            className="org.opaeum.eclipse.newchild.CreateChildActions">
      </createChildActionProvider>
   </extension>
    <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.eclipse.org/uml2/4.0.0/UML" 
       class = "org.opaeum.topcased.uml.editor.OpaeumItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemColorProvider
          org.eclipse.emf.edit.provider.IItemFontProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
          
  </extension>
</plugin>
