org.nakeduml.topcased.activitydiagram/bin
org.nakeduml.topcased.classdiagram/bin
org.nakeduml.topcased.componentdiagram/bin
org.nakeduml.topcased.uml.feature/bin
org.nakeduml.topcased.propertysections/bin
org.nakeduml.topcased.statemachinediagram/bin
org.nakeduml.topcased.validation/bin

