<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="org.opaeum.eclipse.javasync.JavaTransformationProcessManager"></startup>
 </extension>
 <extension
       id="lkjl"
       point="org.opaeum.eclipse.sourceFolderStrategy">
    <sourceFolderStrategy
          className="org.opaeum.pomgeneration.MultiProjectMavenSourceFolderStrategy">
    </sourceFolderStrategy>
    <sourceFolderStrategy
          className="org.opaeum.pomgeneration.SingleProjectMavenSourceFolderStrategy">
    </sourceFolderStrategy>
    <sourceFolderStrategy
          className="org.opaeum.pomgeneration.TestSourceFolderStrategy">
    </sourceFolderStrategy>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          class="org.opaeum.eclipse.starter.OpaeumContributionFactory"
          locationURI="popup:org.eclipse.ui.popup.any?before=additions">
    </menuContribution>
 </extension>
 <extension
       point="org.opaeum.eclipse.transformationStep">
    <transformationStep
          className="org.opaeum.generation.features.PersistenceUsingHibernate">
    </transformationStep>
    <transformationStep
          className="org.opaeum.generation.features.PersistenceUsingJpa">
    </transformationStep>
 </extension>
 <extension
       point="org.opaeum.eclipse.modelLibrary">
    <modelLibrary
          name="Opaeum Simple Types"
          uri="pathmap://NAKEDUML_MODELS/libraries/OpaeumSimpleTypes.library.uml">
    </modelLibrary>
    <modelLibrary
          name="Opaeum BPM and Business Calendar Library"
          uri="pathmap://NAKEDUML_MODELS/libraries/OpaeumBPM.library.uml">
    </modelLibrary>
 </extension>
 <extension
       point="org.opaeum.eclipse.profile">
    <profile
          name="Opaeum Standard Profile"
          uri="pathmap://NAKEDUML_MODELS/profiles/OpaeumStandardProfile.uml">
    </profile>
    <profile
          name="Opaeum BPM Profile"
          uri="pathmap://NAKEDUML_MODELS/profiles/OpaeumBPMProfile.uml">
    </profile>
    <profile
          name="javax.validation"
          uri="pathmap://NAKEDUML_MODELS/profiles/JavaxValidation.uml">
    </profile>
 </extension>
</plugin>
