<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://drools.org/drools-5.0/process"
            class="org.drools.drools._5._0.process.ProcessPackage"
            genModel="drools-processes-5.0.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="process"
            class="org.drools.drools._5._0.process.util.ProcessResourceFactoryImpl"/>
   </extension>

</plugin>
