<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="tart" sequenceNumber="31">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.opaeum.eclipse.feature.feature.group" version="1.0.0.201202091204"/>
<unit id="org.opaeum.eclipse.source.feature.feature.group" version="1.0.0.201202091204"/>
<unit id="org.opaeum.linkage.feature.feature.group" version="1.0.0.201202091204"/>
<unit id="org.opaeum.linkage.source.feature.feature.group" version="1.0.0.201202091204"/>
<unit id="org.opaeum.metamodels.feature.feature.group" version="1.0.0.201202091204"/>
<unit id="org.opaeum.metamodels.source.feature.feature.group" version="1.0.0.201202091204"/>
<unit id="org.opaeum.compilation.feature.feature.group" version="1.0.0.201202091204"/>
<unit id="org.opaeum.compilation.source.feature.feature.group" version="1.0.0.201202091204"/>
<unit id="org.opaeum.modeler.feature.feature.group" version="1.0.0.201202091204"/>
<unit id="org.topcased.core.feature.feature.group" version="4.3.0.201107291408"/>
<unit id="org.topcased.modeler.toolkit.feature.group" version="4.3.1.201107291409"/>
<unit id="org.topcased.ocl.feature.feature.group" version="4.3.0.201107291409"/>
<repository location="file:/home/ampie/Workspaces/opaeum/opaeum-modeler/org.opaeum.modeler.product/target/repository/"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.8.0.v20120130-0821"/>
<unit id="org.eclipse.rap.runtime.requirements.feature.group" version="1.5.0.20120131-1125"/>
<unit id="org.eclipse.rap.runtime.feature.group" version="1.5.0.20120131-1125"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="4.0.0.v20120130-1013"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location path="/home/ampie/Eclipse Products/Papyrus0938m5Dev/targetplatform" type="Directory"/>
</locations>
</target>
