<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="org.opaeum.papyrus.OpaeumStartup"></startup>
 </extension>
    <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="resource/UMLPapyrusDefaultBrowserCustomization.uiCustom" loadByDefault="true"/>
      <browserCustomization
            file="resource/SimulationBrowserCustomization.uiCustom"
            loadByDefault="true">
      </browserCustomization>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset file="resource/PapyrusBrowserQuery.querySet"/>
   </extension>
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent activeByDefault="true" contentProvider="org.eclipse.emf.facet.infra.browser.uicore.OpaeumUmlContentProvider"
icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Model.gif" id="org.opaeum.papyrus.views.modelexplorer.UMLnavigatorContent" 
      labelProvider="org.opaeum.papyrus.uml.modelexplorer.OpaeumLabelProvider" name="Opaeum Model Contents" priority="highest">
         <triggerPoints>
            <or>
               <instanceof value="org.eclipse.emf.ecore.EObject">
               </instanceof>
               <adapt type="org.eclipse.emf.ecore.EObject">
               </adapt>
               <instanceof value="java.lang.Object">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.eclipse.emf.facet.infra.browser.uicore.internal.model.ModelElementItem">
               </instanceof>
               <instanceof value="org.eclipse.gmf.runtime.notation.Diagram">
               </instanceof>
            </or>
         </possibleChildren>
         <actionProvider class="org.eclipse.papyrus.views.modelexplorer.actionprovider.GenericTransformActionProvider" id="org.eclipse.papyrus.views.modelexplorer.actionprovider.GenericTransformActionProvider">
            <enablement>
               <or>
                  <adapt type="org.eclipse.emf.ecore.EObject">
                  </adapt>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider class="org.eclipse.papyrus.views.modelexplorer.actionprovider.EditingDomainActionProvider" id="org.eclipse.papyrus.views.modelexplorer.actionprovider.EditingDomainActionProvider">
            <enablement>
               <and>
                  <not>
                     <instanceof value="org.eclipse.gmf.runtime.notation.Diagram">
                     </instanceof>
                  </not>
                  <adapt type="org.eclipse.emf.ecore.EObject">
                  </adapt>
               </and>
            </enablement>
         </actionProvider>
         <dropAssistant class="org.eclipse.papyrus.views.modelexplorer.dnd.CommonDropAdapterAssistant" id="org.eclipse.papyrus.views.modelexplorer.dnd.CommonDropAdapterAssistant">
            <possibleDropTargets>
               <or>
                  <instanceof value="org.eclipse.gmf.runtime.notation.Diagram">
                  </instanceof>
                  <adapt type="org.eclipse.emf.ecore.EObject">
                  </adapt>
               </or>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
   </extension>
   
<extension point="org.eclipse.ui.startup">
	<startup class="org.opaeum.papyrus.uml.modelexplorer.Activator"/>
</extension>
<extension point="org.eclipse.core.runtime.adapters">
   <factory adaptableType="org.eclipse.emf.facet.infra.browser.uicore.internal.model.ModelElementItem" class="org.eclipse.papyrus.uml.modelexplorer.factory.ModelElementItemFactory">
      <adapter type="org.eclipse.uml2.uml.NamedElement">
      </adapter>
   </factory>
</extension>

   <extension point="org.eclipse.emf.facet.infra.facet.registration">
      <facetset file="resource/PapyrusUMLFacet.facetSet">
      </facetset>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="resource/UMLFacetDefaultBrowserCustomization.uiCustom" loadByDefault="true"/>
      <browserCustomization file="resource/NotationCustomization.uiCustom" loadByDefault="true">
      </browserCustomization>
   </extension>
   <!--extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.opaeum.papyrus.uml.modelexplorer.OpaeumPerspective"
            fixed="false"
            id="org.opaeum.papyrus.uml.modelexplorer.perspective1"
            name="Opaeum">
      </perspective>
   </extension-->
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="Opaeum Standard Profile"
            path="pathmap://NAKEDUML_MODELS/profiles/OpaeumStandardProfile.papyrus.uml"
            provider="Opaeum">
      </profile>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="Opaeum BPM Profile"
            path="pathmap://NAKEDUML_MODELS/profiles/OpaeumBPMProfile.papyrus.uml"
            provider="Opaeum">
      </profile>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="Validation Profile"
            path="pathmap://NAKEDUML_MODELS/profiles/JavaxValidation.uml"
            provider="Opaeum">
      </profile>
   </extension>
      <extension
         id="jkjhkjhkj.ad.ads.ds.ads.ads.dsa."
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.opaeum.papyrus.preferences.OpaeumPreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.opaeum.papyrus.editor.OpaeumMultiDiagramEditor"
            default="true"
            extensions="di.opaeum"
            icon="icons/papyrus/Papyrus_16x16.gif"
            id="org.eclipse.papyrus.infra.core.papyrusEditor.opaeum"
            matchingStrategy="org.eclipse.papyrus.editor.PapyrusMatchingStrategy"
            name="Opaeum Editor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view category="org.eclipse.papyrus.views.category"  
      class="org.opaeum.papyrus.uml.modelexplorer.OpaeumModelExplorerPageBookView" 
      icon="icons/ModelExplorer.gif" id="org.opaeum.papyrus.uml.modelexplorer" name="Opaeum Model Explorer" restorable="true">
      </view>
   </extension>
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewer popupMenuId="org.opaeum.papyrus.uml.modelexplorer.popup" viewerId="org.opaeum.papyrus.uml.modelexplorer" >
      </viewer>
      <viewerContentBinding viewerId="org.opaeum.papyrus.uml.modelexplorer">
         <includes>
            <contentExtension pattern="org.opaeum.papyrus.views.modelexplorer.*" isRoot="true">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <dragAssistant class="org.eclipse.papyrus.views.modelexplorer.dnd.EObjectDragAdapterAssistant" viewerId="org.opaeum.papyrus.uml.modelexplorer">
      </dragAssistant>
   </extension>
   <extension point="org.eclipse.ui.commands">

	
	<!-- Command declaration : Search element command -->			
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.opaeum.papyrus.uml.modelexplorer.OpaeumSearchElementHandler" description="Search an element in the model explorer" id="org.opaeum.papyrus.views.modelexplorer.searchelement" name="searchelement">
	</command>
	
</extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.opaeum.papyrus.uml.modelexplorer.popup">
         <command
               commandId="org.eclipse.papyrus.infra.services.controlmode.control"
               label="Control"
               style="push"
               tooltip="Split the model into an external model">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.services.controlmode.control">
                  </test>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.papyrus.infra.services.controlmode.uncontrol"
               label="Uncontrol"
               style="push"
               tooltip="Merge the external model with the current model">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrus.infra.services.controlmode.uncontrol">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
<extension point="org.eclipse.ui.menus">

	<!-- ModelExplorer toolbar -->
	<menuContribution allPopups="false" locationURI="toolbar:org.opaeum.papyrus.uml.modelexplorer">

		<!-- Load modisco browser customization command -->		
		<command commandId="org.eclipse.papyrus.views.modelexplorer.LoadBrowserCustomization" icon="icons/etool16/uiCustom.gif" label="Load browser customization" style="push">
		</command>

		<!-- Search element command -->	
		<command commandId="org.opaeum.papyrus.views.modelexplorer.searchelement" icon="icons/etool16/search.gif" label="Search element" style="push">
		</command>
		
		<!-- Sort elements command -->	
		<command commandId="org.eclipse.papyrus.views.modelexplorer.sortelement" icon="icons/etool16/sort.gif" label="sort" style="toggle">
		</command>
	</menuContribution>
 <menuContribution allPopups="false" locationURI="popup:org.opaeum.papyrus.uml.modelexplorer.popup">
    <command commandId="org.eclipse.ui.edit.delete" disabledIcon="IMG_TOOL_DELETE_DISABLED" icon="IMG_TOOL_DELETE" label="Delete" style="push" tooltip="Delete">
       <visibleWhen checkEnabled="true">
          <and>
             <with variable="selection">
                <iterate>
                   <adapt type="org.eclipse.emf.ecore.EObject">
                   </adapt>
                </iterate>
             </with>
          </and>
       </visibleWhen>
    </command>
    <separator name="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.separator0" visible="true">
    </separator>
    <command commandId="org.eclipse.ui.edit.rename" icon="icons/etool16/rename.gif" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.rename" label="&amp;Rename" style="push" tooltip="Rename the element">
       <visibleWhen checkEnabled="true">
       </visibleWhen>
    </command>
    <separator name="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.separator1" visible="true">
    </separator>
    <command commandId="org.eclipse.ui.edit.undo" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.undo" label="&amp;Undo" style="push">
    </command>
    <command commandId="org.eclipse.ui.edit.redo" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.redo" label="&amp;Redo" style="push">
    </command>
    <separator name="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.separator2" visible="true">
    </separator>
    <command commandId="org.eclipse.papyrus.views.modelexplorer.popup.open.command" icon="icons/etool16/forward.gif" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.open" label="&amp;Open" style="push" tooltip="Open">
       <visibleWhen checkEnabled="true">
       </visibleWhen>
    </command>
    <command commandId="org.eclipse.papyrus.views.modelexplorer.popup.open.new.command" icon="icons/etool16/arrow_double.gif" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.open.new" label="Open In &amp;New Table" style="push" tooltip="Open in new tab">
       <visibleWhen checkEnabled="true">
       </visibleWhen>
    </command>
    <command commandId="org.eclipse.papyrus.views.modelexplorer.popup.close.command" icon="icons/etool16/close.png" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.close" label="&amp;Close" style="push" tooltip="Close">
       <visibleWhen checkEnabled="true">
       </visibleWhen>
    </command>
    <command commandId="org.eclipse.papyrus.views.modelexplorer.close.all.command" icon="icons/etool16/closeAll.png" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.close.all" label="Close &amp;All" style="push" tooltip="Close All">
       <visibleWhen checkEnabled="true">
       </visibleWhen>
    </command>
    <command commandId="org.eclipse.papyrus.views.modelexplorer.duplicate.command" icon="icons/etool16/duplicate.png" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.duplicate" label="&amp;Duplicate" style="push" tooltip="Duplicate the element">
       <visibleWhen checkEnabled="true">
       </visibleWhen>
    </command>
    <separator name="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.separator3" visible="true">
    </separator>
    <command commandId="org.eclipse.ui.edit.cut" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.cut" label="Cu&amp;t" style="push">
       <visibleWhen checkEnabled="false">
          <with variable="selection">
                <!-- We add this test in order to refresh the Cut action in the menu edit -->
             <test forcePluginActivation="true" property="org.eclipse.papyrus.views.modelexplorer.tester.isEObject" value="true">
             </test>
          </with>
       </visibleWhen>
    </command>
    <command commandId="org.eclipse.ui.edit.copy" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.copy" label="&amp;Copy" style="push">
       <visibleWhen checkEnabled="false">
          <with variable="selection">
                <!-- We add this test in order to refresh the Copy action in the menu edit -->
             <test forcePluginActivation="true" property="org.eclipse.papyrus.views.modelexplorer.tester.isEObject" value="true">
             </test>
          </with>
       </visibleWhen>
    </command>
    <command commandId="org.eclipse.ui.edit.paste" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.paste" label="&amp;Paste" style="push">
       <visibleWhen checkEnabled="false">
          <with variable="selection">
                <!-- We add this test in order to refresh the Paste action in the menu edit -->
             <test forcePluginActivation="true" property="org.eclipse.papyrus.views.modelexplorer.tester.isEObject" value="true">
             </test>
          </with>
       </visibleWhen>
    </command>
 </menuContribution>
	<!-- ModelExplorer Contextual menu -->       
       
</extension>
   
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          class="org.opaeum.papyrus.uml.modelexplorer.newdiagram.NewDiagramContributionFactory"
          locationURI="popup:org.eclipse.ui.popup.any?before=additions">
    </menuContribution>
 </extension>

</plugin>
