<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.papyrus.uml.diagram.wizards.templates">
       <template
             file="models/templates/model.uml"
             id="org.opaeum.plugin.template1"
             language="uml"
             name="Basic Model">
       </template>
       <template
             file="models/templates/profile.uml"
             id="org.opaeum.plugin.template2"
             language="uml"
             name="Basic Profile">
       </template>
    </extension>
<extension point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition"
	name="UML_Package">
	
	<paletteDefinition ID="simpleClasses"
		class="org.eclipse.papyrus.uml.diagram.common.service.PluginPaletteProvider"
		name="Simple Classes" icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif" 
		path="palettes/class.xml"
		provider="Ampie">
		<Priority name="Low"/>
		
		<!-- Specify diagram this palette tools relate to -->						
		<editor id="org.eclipse.papyrus.uml.diagram.clazz"/>
	</paletteDefinition>
</extension>
</plugin>
