<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.papyrus.uml.diagram.wizards.templates">
       <template
             file="models/templates/model.uml"
             id="org.opaeum.plugin.template1"
             language="uml"
             name="Basic Model">
       </template>
       <template
             file="models/templates/profile.uml"
             id="org.opaeum.plugin.template2"
             language="uml"
             name="Basic Profile">
       </template>
    </extension>
</plugin>
