<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="org.nakeduml.eclipse.javasync.JavaTransformationProcessManager"></startup>
 </extension>
 <extension
       id="lkjl"
       point="org.nakeduml.eclipse.sourceFolderStrategy">
    <sourceFolderStrategy
          className="net.sf.nakeduml.pomgeneration.MultiProjectMavenSourceFolderStrategy">
    </sourceFolderStrategy>
    <sourceFolderStrategy
          className="net.sf.nakeduml.pomgeneration.SingleProjectMavenSourceFolderStrategy">
    </sourceFolderStrategy>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          class="org.nakeduml.eclipse.starter.OpiumContributionFactory"
          locationURI="popup:org.eclipse.ui.popup.any?before=additions">
    </menuContribution>
 </extension>
 <extension
       point="org.nakeduml.eclipse.transformationStep">
    <transformationStep
          className="org.nakeduml.generation.features.PersistenceUsingHibernate">
    </transformationStep>
    <transformationStep
          className="org.nakeduml.generation.features.PersistenceUsingJpa">
    </transformationStep>
 </extension>
 <extension
       point="org.nakeduml.eclipse.modelLibrary">
    <modelLibrary
          name="Opium Simple Types"
          uri="pathmap://NAKEDUML_MODELS/libraries/OpiumSimpleTypes.library.uml">
    </modelLibrary>
    <modelLibrary
          name="Opium BPM and Business Calendar Library"
          uri="pathmap://NAKEDUML_MODELS/libraries/OpiumBPM.library.uml">
    </modelLibrary>
 </extension>
 <extension
       point="org.nakeduml.eclipse.profile">
    <profile
          name="Opium Standard Profile"
          uri="pathmap://NAKEDUML_MODELS/profiles/OpiumStandardProfile.uml">
    </profile>
    <profile
          name="Opium BPM Profile"
          uri="pathmap://NAKEDUML_MODELS/profiles/OpiumBPMProfile.uml">
    </profile>
    <profile
          name="javax.validation"
          uri="pathmap://NAKEDUML_MODELS/profiles/JavaxValidation.uml">
    </profile>
 </extension>
</plugin>
