<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
          point="org.eclipse.ui.popupMenus">
        <objectContribution
             id="org.nakeduml.eclipse.starter.actions.generate"
             objectClass="org.eclipse.uml2.uml.Model">
          <action
                class="org.nakeduml.eclipse.starter.RecompileModelAction"
                enablesFor="*"
                id="org.nakeduml.eclipse.starter.RecompileModelAction"
                label="Recompile model"
                menubarPath="org.nakeduml.outline.menu/numlActionsGroup">
          </action>         
       </objectContribution>
    </extension>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="org.nakeduml.eclipse.starter.JavaTransformationProcessManager"></startup>
 </extension>
 <extension
       id="lkjl"
       point="org.nakeduml.eclipse.sourceFolderStrategy">
    <sourceFolderStrategy
          className="net.sf.nakeduml.pomgeneration.MultiProjectMavenSourceFolderStrategy">
    </sourceFolderStrategy>
    <sourceFolderStrategy
          className="net.sf.nakeduml.pomgeneration.SingleProjectMavenSourceFolderStrategy">
    </sourceFolderStrategy>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          class="org.nakeduml.eclipse.starter.OpiumContributionFactory"
          locationURI="popup:org.eclipse.ui.popup.any?before=additions">
    </menuContribution>
 </extension>
 <extension
       point="org.nakeduml.eclipse.transformationStep">
    <transformationStep
          className="org.nakeduml.generation.features.PersistenceUsingHibernate">
    </transformationStep>
    <transformationStep
          className="org.nakeduml.generation.features.PersistenceUsingJpa">
    </transformationStep>
 </extension>
</plugin>
