<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
          point="org.eclipse.ui.popupMenus">
        <objectContribution
             id="org.nakeduml.eclipse.starter.actions.generate"
             objectClass="org.eclipse.uml2.uml.Model">
          <action
                class="org.nakeduml.eclipse.starter.RecompileModelAction"
                enablesFor="*"
                id="org.nakeduml.eclipse.starter.RecompileModelAction"
                label="Recompile model"
                menubarPath="org.nakeduml.outline.menu/numlActionsGroup">
          </action>         
       </objectContribution>
        <objectContribution
             id="org.nakeduml.eclipse.starter.actions.dir.generate"
             objectClass="org.eclipse.core.resources.IFolder">
          <action
                class="org.nakeduml.eclipse.starter.RecompileModelDirectoryAction"
                enablesFor="1"
                id="org.nakeduml.eclipse.starter.RecompileModelDirectoryAction"
                label="Recompile models in directory"
                menubarPath="org.nakeduml.eclipse.starter.dir.menu/numlActionsGroup">
          </action>         
          <action
                class="org.nakeduml.eclipse.starter.RecalculateDependenciesAction"
                enablesFor="1"
                id="org.nakeduml.eclipse.starter.RecalculateDependenciesAction"
                label="Recalculate dependencies"
                menubarPath="org.nakeduml.eclipse.starter.dir.menu/numlActionsGroup">
          </action>         
          <action
                class="org.nakeduml.eclipse.starter.EditNakedUmlConfigAction"
                enablesFor="1"
                id="org.nakeduml.eclipse.starter.EditNakedUmlConfigAction"
                label="Edit NakedUML settings"
                menubarPath="org.nakeduml.eclipse.starter.dir.menu/numlActionsGroup">
          </action>
          <menu
                id="org.nakeduml.eclipse.starter.dir.menu"
                label="Naked UML">
             <groupMarker
                   name="numlActionsGroup">
             </groupMarker>
          </menu>         
       </objectContribution>
    </extension>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="org.nakeduml.eclipse.starter.JavaTransformationProcessManager"></startup>
 </extension>
 <extension
       id="lkjl"
       point="org.nakeduml.eclipse.sourceFolderStrategy">
    <sourceFolderStrategy
          className="net.sf.nakeduml.pomgeneration.MavenSourceFolderStrategy">
    </sourceFolderStrategy>
 </extension>
</plugin>
