<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.opaeum.eclipse.core.transformationStep" name="TransformationStep" schema="schema/transformationStep.exsd"/>
   <extension-point id="org.opaeum.eclipse.core.sourceFolderStrategy" name="SourceFolderStrategy" schema="schema/sourceFolderStrategy.exsd"/>
   <extension-point id="org.opaeum.eclipse.core.modelLibrary" name="modelLibrary" schema="schema/modelLibrary.exsd"/>
   <extension-point id="org.opaeum.eclipse.core.profile" name="Profile" schema="schema/profile.exsd"/>
   <extension-point id="org.opaeum.eclipse.core.strategyFactory" name="StrategyFactory" schema="schema/strategyFactory.exsd"/>
   <extension-point id="org.opaeum.eclipse.core.createChildAction" name="CreateChildAction" schema="schema/createChildAction.exsd"/>
   <extension-point id="createChildActionProvider" name="CreateChildActionProvider" schema="schema/createChildActionProvider.exsd"/>
   <extension
         point="org.opaeum.eclipse.core.createChildActionProvider">
      <createChildActionProvider
            className="org.opaeum.eclipse.newchild.CreateChildActions">
      </createChildActionProvider>
   </extension>
</plugin>
