<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             adaptable="true"
             id="org.nakeduml.reverse.menu.objectContribution"
             objectClass="org.eclipse.jdt.core.ICompilationUnit">
          <menu
                id="org.nakeduml.reverse.menu.compilationunit"
                label="Opium">
             <groupMarker
                   name="numlActionsGroup">
             </groupMarker>
          </menu>
          <action
                class="org.nakeduml.reverse.popup.actions.ReverseEngineerClassesAction"
                enablesFor="*"
                id="org.nakeduml.reverse.popup.actions.ReverseEngineerClassesAction"
                label="Reverse Java Classes"
                menubarPath="org.nakeduml.reverse.menu.compilationunit/numlActionsGroup">
          </action>
       </objectContribution>
       <objectContribution
             adaptable="true"
             id="org.nakeduml.reverse.menu.objectContribution"
             objectClass="org.eclipse.jdt.core.IClassFile">
          <menu
                id="org.nakeduml.reverse.menu.classfile"
                label="Opium">
             <groupMarker
                   name="numlActionsGroup">
             </groupMarker>
          </menu>
          <action
                class="org.nakeduml.reverse.popup.actions.ReverseEngineerClassesAction"
                enablesFor="*"
                id="org.nakeduml.reverse.popup.actions.ReverseEngineerClassesAction"
                label="Reverse Java Classes"
                menubarPath="org.nakeduml.reverse.menu.classfile/numlActionsGroup">
          </action>
       </objectContribution>
       <objectContribution
             adaptable="true"
             id="org.nakeduml.reverse.menu.objectContribution2"
             objectClass="org.eclipse.jdt.core.IPackageFragment">
          <menu
                id="org.nakeduml.reverse.menu.classfile"
                label="Opium">
             <groupMarker
                   name="numlActionsGroup">
             </groupMarker>
          </menu>
          <action
                class="org.nakeduml.reverse.popup.actions.ReverseEngineerClassesAction"
                enablesFor="*"
                id="org.nakeduml.reverse.popup.actions.ReverseEngineerClassesAction"
                label="Reverse Java Classes"
                menubarPath="org.nakeduml.reverse.menu.classfile/numlActionsGroup">
          </action>
       </objectContribution>
    </extension>

</plugin>
