/org.nakeduml.ocl.metamodel/target
/org.nakeduml.ocl.java.generator/target
/org.nakeduml.java.generator/target
/org.nakeduml.metamodels/target
/org.nakeduml.generators/target
/org.nakeduml.uim/target
/org.nakeduml.uml2uim/target
/org.nakeduml.ocl.metamodel/test-output
/org.nakeduml.ocl.java.generator/test-output
/org.nakeduml.java.generator/test-output
/org.nakeduml.metamodels/test-output
/org.nakeduml.generators/test-output
/org.nakeduml.uim/test-output
/org.nakeduml.uml2uim/test-output
/org.nakeduml.java.generator/test-output
/org.nakeduml.tinker.generator/target
