<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>




   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="org.opaeum.uimodeler.abstractactionbar.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>
   



	<?gmfgen generated="true"?>
	
	<?gmfgen generated="true"?>
	
   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.abstractactionbar"
            name="abstractactionbar Diagram"
            category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams"
            class="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      


      <page
            id="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.DiagramPrintingPreferencePage"
            name="%prefpage.org.opaeum.metamodels.uim.diagram.printing"
            category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.abstractactionbar"
            class="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.DiagramPrintingPreferencePage">
      </page>

      <page
            id="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.DiagramRulersAndGridPreferencePage"
            name="%prefpage.org.opaeum.metamodels.uim.diagram.rulersAndGrid"
            category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.abstractactionbar"
            class="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>

   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.opaeum.uimodeler.abstractactionbar.diagram"
            labelProvider="org.opaeum.uimodeler.abstractactionbar.diagram.sheet.UimSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.opaeum.uimodeler.abstractactionbar.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.opaeum.uimodeler.abstractactionbar.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.opaeum.uimodeler.abstractactionbar.diagram.sheet.UimPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="org.opaeum.uimodeler.abstractactionbar.diagram.navigator.UimAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>


<?gmfgen generated="true"?>

	<extension point="org.eclipse.core.runtime.preferences">
		<?gmfgen generated="true"?>
		<initializer class="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.DiagramPreferenceInitializer"/>
	</extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="org.opaeum.uimodeler.abstractactionbar.diagram.providers.UimViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="abstractactionbar"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2011,3001,3002,3003,3004,3005"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.opaeum.uimodeler.abstractactionbar.diagram.providers.UimEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="abstractactionbar"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2011,3001,3002,3003,3004,3005"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value=""/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5016,5011,5012,5013,5014,5015"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.opaeum.uimodeler.abstractactionbar.diagram.providers.UimModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="org.opaeum.uimodeler.abstractactionbar.diagram.edit.parts.AbstractEditorEditPart" id="AbstractEditor_1000"/>
         <object class="org.opaeum.uimodeler.abstractactionbar.diagram.edit.parts.ActionBarEditPart" id="ActionBar_2011"/>
         <context elements="AbstractEditor_1000,ActionBar_2011"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="org.opaeum.uimodeler.abstractactionbar.diagram.providers.UimIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.opaeum.uimodeler.abstractactionbar.diagram.providers.UimParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://opaeum.org/uimetamodel/form/1.0">
         <metamodelType
               id="org.opaeum.uimodeler.abstractactionbar.diagram.AbstractEditor_1000"
               name="%metatype.name.AbstractEditor_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="AbstractEditor"
               edithelper="org.opaeum.uimodeler.abstractactionbar.diagram.edit.helpers.AbstractEditorEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://opaeum.org/uimetamodel/form/1.0">
         <metamodelType
               id="org.opaeum.uimodeler.abstractactionbar.diagram.ActionBar_2011"
               name="%metatype.name.ActionBar_2011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ActionBar"
               edithelper="org.opaeum.uimodeler.abstractactionbar.diagram.edit.helpers.ActionBarEditHelper">
            <param name="semanticHint" value="2011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://opaeum.org/uimetamodel/action/1.0">
         <metamodelType
               id="org.opaeum.uimodeler.abstractactionbar.diagram.BuiltInLink_3001"
               name="%metatype.name.BuiltInLink_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="BuiltInLink"
               edithelper="org.opaeum.uimodeler.abstractactionbar.diagram.edit.helpers.BuiltInLinkEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://opaeum.org/uimetamodel/action/1.0">
         <metamodelType
               id="org.opaeum.uimodeler.abstractactionbar.diagram.LinkToQuery_3002"
               name="%metatype.name.LinkToQuery_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="LinkToQuery"
               edithelper="org.opaeum.uimodeler.abstractactionbar.diagram.edit.helpers.LinkToQueryEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://opaeum.org/uimetamodel/action/1.0">
         <metamodelType
               id="org.opaeum.uimodeler.abstractactionbar.diagram.InvocationButton_3003"
               name="%metatype.name.InvocationButton_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InvocationButton"
               edithelper="org.opaeum.uimodeler.abstractactionbar.diagram.edit.helpers.InvocationButtonEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://opaeum.org/uimetamodel/action/1.0">
         <metamodelType
               id="org.opaeum.uimodeler.abstractactionbar.diagram.BuiltInActionButton_3004"
               name="%metatype.name.BuiltInActionButton_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="BuiltInActionButton"
               edithelper="org.opaeum.uimodeler.abstractactionbar.diagram.edit.helpers.BuiltInActionButtonEditHelper">
            <param name="semanticHint" value="3004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://opaeum.org/uimetamodel/action/1.0">
         <metamodelType
               id="org.opaeum.uimodeler.abstractactionbar.diagram.TransitionButton_3005"
               name="%metatype.name.TransitionButton_3005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TransitionButton"
               edithelper="org.opaeum.uimodeler.abstractactionbar.diagram.edit.helpers.TransitionButtonEditHelper">
            <param name="semanticHint" value="3005"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="org.opaeum.uimodeler.abstractactionbar.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.opaeum.uimodeler.abstractactionbar.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="org.opaeum.uimodeler.abstractactionbar.diagram.TypeContext">
         <elementType ref="org.opaeum.uimodeler.abstractactionbar.diagram.AbstractEditor_1000"/>
         <elementType ref="org.opaeum.uimodeler.abstractactionbar.diagram.ActionBar_2011"/>
         <elementType ref="org.opaeum.uimodeler.abstractactionbar.diagram.BuiltInLink_3001"/>
         <elementType ref="org.opaeum.uimodeler.abstractactionbar.diagram.LinkToQuery_3002"/>
         <elementType ref="org.opaeum.uimodeler.abstractactionbar.diagram.InvocationButton_3003"/>
         <elementType ref="org.opaeum.uimodeler.abstractactionbar.diagram.BuiltInActionButton_3004"/>
         <elementType ref="org.opaeum.uimodeler.abstractactionbar.diagram.TransitionButton_3005"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.opaeum.uimodeler.abstractactionbar.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.opaeum.uimodeler.abstractactionbar.diagram"
           properties="isURIEditorInput"
           class="org.opaeum.uimodeler.abstractactionbar.diagram.part.UimUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.opaeum.uimodeler.abstractactionbar.diagram.resourceContent"/>
			<contentExtension pattern="org.opaeum.uimodeler.abstractactionbar.diagram.domainResourceContent"/>
            <contentExtension pattern="org.opaeum.uimodeler.abstractactionbar.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.opaeum.uimodeler.abstractactionbar.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.opaeum.uimodeler.abstractactionbar.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.opaeum.uimodeler.abstractactionbar.diagram.navigator.UimNavigatorContentProvider" 
            labelProvider="org.opaeum.uimodeler.abstractactionbar.diagram.navigator.UimNavigatorLabelProvider"
            icon="icons/obj16/EditorDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="uim_diagram"/>
               </and>
               <instanceof value="org.opaeum.uimodeler.abstractactionbar.diagram.navigator.UimAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.opaeum.uimodeler.abstractactionbar.diagram.navigator.UimAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.opaeum.uimodeler.abstractactionbar.diagram.navigatorSorter" 
               class="org.opaeum.uimodeler.abstractactionbar.diagram.navigator.UimNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="uim_diagram"/>
                  </and>
                  <instanceof value="org.opaeum.uimodeler.abstractactionbar.diagram.navigator.UimAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.opaeum.uimodeler.abstractactionbar.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.opaeum.uimodeler.abstractactionbar.diagram.navigator.UimDomainNavigatorContentProvider" 
            labelProvider="org.opaeum.uimodeler.abstractactionbar.diagram.navigator.UimDomainNavigatorLabelProvider"
            icon="icons/obj16/EditorDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="uim"/>
               </and>
               <instanceof value="org.opaeum.uimodeler.abstractactionbar.diagram.navigator.UimDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="org.opaeum.uimodeler.abstractactionbar.diagram.navigator.UimDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.opaeum.uimodeler.abstractactionbar.diagram.navigatorActionProvider"
            class="org.opaeum.uimodeler.abstractactionbar.diagram.navigator.UimNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.opaeum.uimodeler.abstractactionbar.diagram.navigator.UimAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.opaeum.uimodeler.abstractactionbar.diagram.navigatorLinkHelper"
            class="org.opaeum.uimodeler.abstractactionbar.diagram.navigator.UimNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.opaeum.uimodeler.abstractactionbar.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.opaeum.uimodeler.abstractactionbar.diagram.navigator.UimAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="org.opaeum.uimodeler.abstractactionbar.diagram.part.UimDiagramUpdateCommand"
         description="%update.diagram.description"
         id="org.opaeum.uimodeler.abstractactionbar.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="org.opaeum.uimodeler.abstractactionbar.diagram.updateDiagram"
         contextId="org.opaeum.uimodeler.abstractactionbar.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.opaeum.uimodeler.abstractactionbar.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="org.opaeum.uimodeler.abstractactionbar.diagram.part.UimDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="org.opaeum.uimodeler.abstractactionbar.diagram.edit.parts.AbstractEditorEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="org.opaeum.uimodeler.abstractactionbar.diagram.part.UimDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.opaeum.uimodeler.abstractactionbar.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="org.opaeum.uimodeler.abstractactionbar.diagram.part.UimDiagramEditorID"
         defaultHandler="org.opaeum.uimodeler.abstractactionbar.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>
<extension point="org.eclipse.ui.commands">
	<command
            categoryId="org.eclipse.papyrus.editor.category"
            description="Create a new Action Bar Diagram"
            id="org.opaeum.metamodels.uim.actionbar.diagram.CreateActionBarDiagramCommand"
            name="Create a new Action Bar Diagram">
	</command>
</extension>

<extension point="org.eclipse.ui.handlers">
	<handler
		class="org.opaeum.metamodels.uim.actionbar.diagram.CreateActionBarDiagramWithNavigationHandler"
		commandId="org.opaeum.metamodels.uim.actionbar.diagram.CreateActionBarDiagramCommand">
		<activeWhen>
			<with variable="activeEditorId">
				<equals value="org.opaeum.uimodeler.OpaeumMultiDiagramEditor"/>
			</with>
		</activeWhen>
	</handler>
</extension>
   <extension
         point="org.eclipse.papyrus.infra.core.papyrusDiagram">
      <diagramCategory
            class="org.opaeum.metamodels.uim.actionbar.diagram.CreateAbstractEditorCommand"
            description="Create Abstract Editor"
            icon="icons/obj16/UimDiagramFile.gif"
            id="uim"
            label="Abstract Editor">
      </diagramCategory>      
         
      <editorDiagram
            actionBarContributorId="org.opaeum.uim.presentation.UimActionBarContributor"
            contextId="com.cea.papyrus.gmf.editor.context"
            factoryClass="org.opaeum.metamodels.uim.actionbar.diagram.ActionBarDiagramEditorFactory"
            icon="icons/obj16/UimDiagramFile.gif">
      </editorDiagram>
      <creationCommand
            creationCommandClass="org.opaeum.metamodels.uim.actionbar.diagram.CreateActionBarDiagramCommand"
            creationCondition="org.opaeum.metamodels.uim.actionbar.diagram.ActionBarCreationCondition"
            icon="icons/obj16/UimDiagramFile.gif"
            id="org.opaeum.metamodels.uim.actionbar.diagram.CreateActionBarDiagramCommand"
            language="uim"
            label="Action Bar Diagram">
      </creationCommand>      
   </extension>












<extension
		id="UimActionBarPlugin.palettedefinition"
		name="UimActionBarPlugin Predefined Entries"
		point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders"> 
		
		<?gmfgen generated="true"?>	
		<paletteProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
			<Priority name="Lowest"/>
      		<contribution
            	factoryClass="org.opaeum.uimodeler.abstractactionbar.diagram.part.UimPaletteFactory">
     			<predefinedEntry id="standardGroup/noteStack/noteTool" remove="true"/> 
				<predefinedEntry id="standardGroup/noteStack/textTool" remove="true"/> 
				<predefinedEntry id="standardGroup/noteStack/noteattachmentTool" remove="true"/>
					<entry
       defineOnly="true"
       description="Create new Editor Action Bar"
       id="createActionBar1CreationTool"
       kind="tool"
       label="Editor Action Bar"
       large_icon=""
       path=""
       small_icon="">
 	</entry>
	<entry
       defineOnly="true"
       description="Create new Built-in Action"
       id="createBuiltinActionButton1CreationTool"
       kind="tool"
       label="Built-in Action Button"
       large_icon=""
       path=""
       small_icon="">
 	</entry>
	<entry
       defineOnly="true"
       description="Create new TransitionAction"
       id="createTakeTransitionButton2CreationTool"
       kind="tool"
       label="Take Transition Button"
       large_icon=""
       path=""
       small_icon="">
 	</entry>
	<entry
       defineOnly="true"
       description="Create new OperationAction"
       id="createOperationCallButton3CreationTool"
       kind="tool"
       label="Operation Call Button"
       large_icon=""
       path=""
       small_icon="">
 	</entry>
	<entry
       defineOnly="true"
       description="LinkToQuery"
       id="createLinkToQuery1CreationTool"
       kind="tool"
       label="Link To Query"
       large_icon=""
       path=""
       small_icon="">
 	</entry>
	<entry
       defineOnly="true"
       description="Create new Built In Link"
       id="createBuiltinLink2CreationTool"
       kind="tool"
       label="Built-in Link"
       large_icon=""
       path=""
       small_icon="">
 	</entry>

			</contribution>
		</paletteProvider>	
			
	</extension>

<extension
		id="UimActionBarPlugin.standard"
		name="UimActionBarPlugin Standard Palette"
		point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders"> 
		
		<?gmfgen generated="true"?>	
		<paletteProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
			<Priority name="Low"/>
      		<contribution
            	factoryClass="org.opaeum.uimodeler.abstractactionbar.diagram.part.UimPaletteFactory">
     			<predefinedEntry id="standardGroup/noteStack/noteTool" remove="true"/> 
				<predefinedEntry id="standardGroup/noteStack/textTool" remove="true"/> 
				<predefinedEntry id="standardGroup/noteStack/noteattachmentTool" remove="true"/>
					<entry
       description="Holds top-level non-container tools"
       id="createDefault1Group"
       kind="drawer"
       label="Default"
       large_icon=""
       path="/"
       small_icon="">
       <expand
              force="true">
       </expand>
 	</entry>
 	 
 	 	<predefinedEntry
          id="createActionBar1CreationTool"
          path="/createDefault1Group">
    </predefinedEntry>

	<entry
       description=""
       id="createActions2Group"
       kind="drawer"
       label="Actions"
       large_icon=""
       path="/"
       small_icon="">
       <expand
              force="true">
       </expand>
 	</entry>
 	 
 	 	<predefinedEntry
          id="createBuiltinActionButton1CreationTool"
          path="/createActions2Group">
    </predefinedEntry>
 	<predefinedEntry
          id="createTakeTransitionButton2CreationTool"
          path="/createActions2Group">
    </predefinedEntry>
 	<predefinedEntry
          id="createOperationCallButton3CreationTool"
          path="/createActions2Group">
    </predefinedEntry>

	<entry
       description=""
       id="createLinks3Group"
       kind="drawer"
       label="Links"
       large_icon=""
       path="/"
       small_icon="">
       <expand
              force="true">
       </expand>
 	</entry>
 	 
 	 	<predefinedEntry
          id="createLinkToQuery1CreationTool"
          path="/createLinks3Group">
    </predefinedEntry>
 	<predefinedEntry
          id="createBuiltinLink2CreationTool"
          path="/createLinks3Group">
    </predefinedEntry>


			</contribution>
			<editor id="org.opaeum.uimodeler.abstractactionbar.diagram"/>
		</paletteProvider>	
			
	</extension>

<extension point="org.eclipse.ui.preferencePages">


		
	<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.abstractactionbar"
			class="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.ActionBarPreferencePage"
            id="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.ActionBarPreferencePage"
            name="ActionBar Node" />
	
		
	<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.abstractactionbar"
			class="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.BuiltInLinkPreferencePage"
            id="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.BuiltInLinkPreferencePage"
            name="BuiltInLink Node" />
	
		
	<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.abstractactionbar"
			class="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.LinkToQueryPreferencePage"
            id="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.LinkToQueryPreferencePage"
            name="LinkToQuery Node" />
	
		
	<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.abstractactionbar"
			class="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.BuiltInActionButtonPreferencePage"
            id="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.BuiltInActionButtonPreferencePage"
            name="BuiltInActionButton Node" />
	
		
	<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.abstractactionbar"
			class="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.TransitionButtonPreferencePage"
            id="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.TransitionButtonPreferencePage"
            name="TransitionButton Node" />
	
		
	<?gmfgen generated="true"?>
	<page  	category="org.eclipse.papyrus.infra.gmfdiag.preferences.diagrams.abstractactionbar"
			class="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.InvocationButtonPreferencePage"
            id="org.opaeum.uimodeler.abstractactionbar.diagram.preferences.InvocationButtonPreferencePage"
            name="InvocationButton Node" />
	



</extension>




</plugin>
