<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://nakeduml.sf.net/uimetamodel/1.0"
            class="org.nakeduml.uim.UIMPackage"
            genModel="model/UIM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="uim"
            class="org.nakeduml.uim.util.UIMResourceFactoryImpl"/>
   </extension>

</plugin>
