<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.topcased.modeler.editor.Modeler">
         <propertyTab
               id="org.nakeduml.eclipse.numlTab"
               category="model"
               indented="false"
               label="NakedUML"
               
         	   />
         	   <!--afterTab="org.topcased.modeler.modelTab"-->
	  </propertyTabs>
	</extension>    
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections contributorId="org.topcased.modeler.editor.Modeler">
		   <propertySection
		   		afterSection="org.topcased.modeler.uml.internal.properties.sections.PinNameSection.numl"
		         class="org.nakeduml.topcased.propertysections.ValuePinValueSection"
		         id="org.nakeduml.topcased.propertysections.ValuePinValueSection"
		         tab="org.nakeduml.eclipse.numlTab">
		      <input
		            type="org.eclipse.uml2.uml.ValuePin">
		      </input>
		   </propertySection>		
		   <propertySection
		         class="org.nakeduml.topcased.propertysections.TimeUnitSection"
		         id="org.nakeduml.topcased.propertysections.TimeUnitSection"
		         tab="org.nakeduml.eclipse.numlTab">
		      <input
		            type="org.eclipse.uml2.uml.TimeEvent">
		      </input>
		   </propertySection>
		   	<propertySection
         				class="org.topcased.modeler.uml.internal.properties.sections.NamedElementNameSection"
         				filter="org.topcased.modeler.uml.internal.properties.sections.NamedElementNameSectionFilter"
         				id="org.topcased.modeler.uml.internal.properties.sections.NamedElementNameSection.numl"
         				tab="org.nakeduml.eclipse.numlTab">
				<input type="org.eclipse.uml2.uml.NamedElement"/>
			</propertySection>		
		   	<propertySection
         				afterSection="org.topcased.modeler.uml.internal.properties.sections.NamedElementNameSection.numl"
         				class="org.nakeduml.topcased.propertysections.PropertySubsettedPropertySection"
         				id="org.nakeduml.topcased.propertysections.PropertySubsettedPropertySection"
         				tab="org.nakeduml.eclipse.numlTab">
				<input type="org.eclipse.uml2.uml.Property"/>
			</propertySection>	
		   	<propertySection
         				afterSection="org.nakeduml.topcased.propertysections.PropertySubsettedPropertySection"
         				class="org.nakeduml.topcased.propertysections.PropertyRedefinedPropertySection"
         				id="org.nakeduml.topcased.propertysections.PropertyRedefinedPropertySection"
         				tab="org.nakeduml.eclipse.numlTab">
				<input type="org.eclipse.uml2.uml.Property"/>
			</propertySection>	
			<propertySection
				id="org.nakeduml.topcased.propertysections.PropertyBooleanFeaturesSection"
				class="org.nakeduml.topcased.propertysections.PropertyBooleanFeaturesSection"
				tab="org.nakeduml.eclipse.numlTab"
				afterSection="org.topcased.modeler.uml.internal.properties.sections.NamedElementNameSection.numl">
         		<input type="org.eclipse.uml2.uml.StructuralFeature"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.topcased.propertysections.MultiplicityElementFeaturesSection"
				class="org.nakeduml.topcased.propertysections.MultiplicityElementFeaturesSection"
				tab="org.nakeduml.eclipse.numlTab"
				afterSection="org.topcased.modeler.uml.internal.properties.sections.NamedElementNameSection.numl">
         		<input type="org.eclipse.uml2.uml.StructuralFeature"/>
			</propertySection>
			<propertySection
         			afterSection="org.topcased.modeler.uml.internal.properties.sections.NamedElementNameSection.numl"
         			class="org.topcased.modeler.uml.internal.properties.sections.TypedElementTypeSection"
         			filter="org.topcased.modeler.uml.internal.properties.sections.TypedElementTypeSectionFilter"
         			id="org.topcased.modeler.uml.internal.properties.sections.TypedElementTypeSection"
         			tab="org.nakeduml.eclipse.numlTab">
      			<input type="org.eclipse.uml2.uml.TypedElement">
      			</input>
			</propertySection>
			<propertySection
         			afterSection="org.topcased.modeler.uml.internal.properties.sections.NamedElementNameSection.numl"
         			class="org.nakeduml.topcased.propertysections.AcceptEventActionTriggerSection"
         			id="org.nakeduml.topcased.propertysections.AcceptEventActionTriggerSection"
         			tab="org.nakeduml.eclipse.numlTab">
      			<input type="org.eclipse.uml2.uml.AcceptEventAction">
      			</input>
			</propertySection>
			<propertySection
         			afterSection="org.topcased.modeler.uml.internal.properties.sections.NamedElementNameSection.numl"
         			class="org.nakeduml.topcased.propertysections.StructuralFeatureActionFeatureSection"
         			id="org.nakeduml.topcased.propertysections.StructuralFeatureActionFeatureSection"
         			tab="org.nakeduml.eclipse.numlTab">
      			<input type="org.eclipse.uml2.uml.StructuralFeatureAction">
      			</input>
			</propertySection>
			<propertySection
         			afterSection="org.topcased.modeler.uml.internal.properties.sections.NamedElementNameSection.numl"
         			class="org.nakeduml.topcased.propertysections.VariableActionVariableSection"
         			id="org.nakeduml.topcased.propertysections.VariableActionVariableSection"
         			tab="org.nakeduml.eclipse.numlTab">
      			<input type="org.eclipse.uml2.uml.VariableAction">
      			</input>
			</propertySection>
			<propertySection
         			afterSection="org.topcased.modeler.uml.internal.properties.sections.NamedElementNameSection.numl"
         			class="org.nakeduml.topcased.propertysections.SendSignalActionSignalSection"
         			id="org.nakeduml.topcased.propertysections.SendSignalActionSignalSection"
         			tab="org.nakeduml.eclipse.numlTab">
      			<input type="org.eclipse.uml2.uml.SendSignalAction">
      			</input>
			</propertySection>
  			<propertySection
         			class="org.topcased.modeler.uml.internal.properties.sections.NamedElementNameSection"
			         id="org.topcased.modeler.uml.internal.properties.sections.PinNameSection.numl"
			         tab="org.nakeduml.eclipse.numlTab">
      			<input type="org.eclipse.uml2.uml.Pin">
      			</input>
   			</propertySection>
			<propertySection
         			afterSection="org.topcased.modeler.uml.internal.properties.sections.NamedElementNameSection.numl"
         			class="org.nakeduml.topcased.propertysections.ActivityEdgeGuardSection"
         			id="org.nakeduml.topcased.propertysections.ActivityEdgeGuardSection"
         			tab="org.nakeduml.eclipse.numlTab">
      			<input type="org.eclipse.uml2.uml.ActivityEdge">
      			</input>
			</propertySection>
			<propertySection
         			afterSection="org.topcased.modeler.uml.internal.properties.sections.NamedElementNameSection.numl"
         			class="org.nakeduml.topcased.propertysections.ConstraintValueSpecificationSection"
         			id="org.nakeduml.topcased.propertysections.ConstraintValueSpecificationSection"
         			tab="org.nakeduml.eclipse.numlTab">
      			<input type="org.eclipse.uml2.uml.Constraint">
      			</input>
			</propertySection>
			<propertySection
         			afterSection="org.topcased.modeler.uml.internal.properties.sections.NamedElementNameSection.numl"
         			class="org.nakeduml.topcased.propertysections.TransitionGuardSection"
         			id="org.nakeduml.topcased.propertysections.TransitionGuardSection"
         			tab="org.nakeduml.eclipse.numlTab">
      			<input type="org.eclipse.uml2.uml.Transition">
      			</input>
			</propertySection>
			<propertySection
         			afterSection="org.topcased.modeler.uml.internal.properties.sections.NamedElementNameSection.numl"
         			class="org.nakeduml.topcased.propertysections.TransitionTriggerSection"
         			id="org.nakeduml.topcased.propertysections.TransitionTriggerSection"
         			tab="org.nakeduml.eclipse.numlTab">
      			<input type="org.eclipse.uml2.uml.Transition">
      			</input>
			</propertySection>
   		</propertySections>
   		
	</extension>

</plugin>
