<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections contributorId="org.topcased.modeler.editor.Modeler">
		   <propertySection
		         class="org.nakeduml.topcased.propertysections.TimeUnitSection"
		         id="org.nakeduml.topcased.propertysections.TimeUnitSection"
		         tab="org.nakeduml.eclipse.numlTab">
		      <input
		            type="org.eclipse.uml2.uml.TimeEvent">
		      </input>
		   </propertySection>
   		</propertySections>
   		
	</extension>

</plugin>
