<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
		<propertyContributor contributorId = "org.topcased.modeler.editor.Modeler"
			labelProvider="org.nakeduml.uim.userinteractionproperties.providers.SectionsLabelProvider">
		<propertyCategory category = "Nakeduml"/>
		</propertyContributor>
	</extension>
	
	<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
		<propertyTabs contributorId="org.topcased.modeler.editor.Modeler">
			<propertyTab
				category="Nakeduml"
				id="org.nakeduml.uim.userinteractionproperties.basic"
				label="Basic"/>    
		</propertyTabs>
	</extension>

	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections contributorId="org.topcased.modeler.editor.Modeler">
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.userinteractionelementnamesection.name"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				class="org.nakeduml.uim.userinteractionproperties.sections.UserInteractionElementNameSection">
				<input type="org.nakeduml.uim.UserInteractionElement"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.uimfieldcontrolkindsection.controltype"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				afterSection="org.nakeduml.uim.userinteractionproperties.basic.userinteractionelementnamesection.name"
				class="org.nakeduml.uim.userinteractionproperties.sections.UIMFieldControlKindSection">
				<input type="org.nakeduml.uim.UIMField"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.uimfieldlabelwidthsection.labelwidth"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				afterSection="org.nakeduml.uim.userinteractionproperties.basic.userinteractionelementnamesection.name"
				class="org.nakeduml.uim.userinteractionproperties.sections.UIMFieldLabelWidthSection">
				<input type="org.nakeduml.uim.UIMField"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.modelsecurityconstraintrequiredrolessection.requiredroles"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				afterSection="org.nakeduml.uim.userinteractionproperties.basic.modelsecurityconstraintrequiresgroupownershipsection.requiresgroupownership"
				class="org.nakeduml.uim.userinteractionproperties.sections.ModelSecurityConstraintRequiredRolesSection">
				<input type="org.nakeduml.uim.ModelSecurityConstraint"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.modelsecurityconstraintrequiresgroupownershipsection.requiresgroupownership"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				afterSection="org.nakeduml.uim.userinteractionproperties.basic.modelsecurityconstraintrequiresownershipsection.requiresownership"
				class="org.nakeduml.uim.userinteractionproperties.sections.ModelSecurityConstraintRequiresGroupOwnershipSection">
				<input type="org.nakeduml.uim.ModelSecurityConstraint"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.modelsecurityconstraintrequiresownershipsection.requiresownership"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				afterSection="org.nakeduml.uim.userinteractionproperties.basic.childsecurityconstraintinheritfromparentsection.inheritfromparent"
				class="org.nakeduml.uim.userinteractionproperties.sections.ModelSecurityConstraintRequiresOwnershipSection">
				<input type="org.nakeduml.uim.ModelSecurityConstraint"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.operationactionoperationsection.operation"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				afterSection="org.nakeduml.uim.userinteractionproperties.basic.userinteractionelementnamesection.name"
				class="org.nakeduml.uim.userinteractionproperties.sections.OperationActionOperationSection">
				<input type="org.nakeduml.uim.OperationAction"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.navigationtooperationtoformsection.toform"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				afterSection="org.nakeduml.uim.userinteractionproperties.basic.userinteractionelementnamesection.name"
				class="org.nakeduml.uim.userinteractionproperties.sections.NavigationToOperationToFormSection">
				<input type="org.nakeduml.uim.NavigationToOperation"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.builtinactionkindsection.actionkind"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				afterSection="org.nakeduml.uim.userinteractionproperties.basic.userinteractionelementnamesection.name"
				class="org.nakeduml.uim.userinteractionproperties.sections.BuiltInActionKindSection">
				<input type="org.nakeduml.uim.BuiltInAction"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.uimcontrolwidthsection.width"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				class="org.nakeduml.uim.userinteractionproperties.sections.UIMControlWidthSection">
				<input type="org.nakeduml.uim.UIMControl"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.navigationtoentitytoformsection.toform"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				afterSection="org.nakeduml.uim.userinteractionproperties.basic.userinteractionelementnamesection.name"
				class="org.nakeduml.uim.userinteractionproperties.sections.NavigationToEntityToFormSection">
				<input type="org.nakeduml.uim.NavigationToEntity"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.transitionactiontransitionsection.transition"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				class="org.nakeduml.uim.userinteractionproperties.sections.TransitionActionTransitionSection">
				<input type="org.nakeduml.uim.TransitionAction"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.childsecurityconstraintinheritfromparentsection.inheritfromparent"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				class="org.nakeduml.uim.userinteractionproperties.sections.ChildSecurityConstraintInheritFromParentSection">
				<input type="org.nakeduml.uim.ChildSecurityConstraint"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.uimgridlayoutnumberofcolumnssection.numberofcolumns"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				afterSection="org.nakeduml.uim.userinteractionproperties.basic.userinteractionelementnamesection.name"
				class="org.nakeduml.uim.userinteractionproperties.sections.UIMGridLayoutNumberOfColumnsSection">
				<input type="org.nakeduml.uim.UIMGridLayout"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.bindingelementsection.typedelement"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				class="org.nakeduml.uim.userinteractionproperties.sections.UIMBindingElementSection">
				<input type="org.nakeduml.uim.UIMBinding"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.propertyrefpropertysection.property"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				afterSection="org.nakeduml.uim.userinteractionproperties.basic.userinteractionelementnamesection.name"
				class="org.nakeduml.uim.userinteractionproperties.sections.PropertyRefPropertySection">
				<input type="org.nakeduml.uim.PropertyRef"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.uimdatacolumnwidthsection.width"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				afterSection="org.nakeduml.uim.userinteractionproperties.basic.userinteractionelementnamesection.name"
				class="org.nakeduml.uim.userinteractionproperties.sections.UIMDataColumnWidthSection">
				<input type="org.nakeduml.uim.UIMDataColumn"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.detailpanelmastercomponentsection.mastercomponent"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				class="org.nakeduml.uim.userinteractionproperties.sections.DetailPanelMasterComponentSection">
				<input type="org.nakeduml.uim.DetailPanel"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.uimtabpanelactivetabindexsection.activetabindex"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				class="org.nakeduml.uim.userinteractionproperties.sections.UIMTabPanelActiveTabIndexSection">
				<input type="org.nakeduml.uim.UIMTabPanel"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.uimtextarearowssection.rows"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				class="org.nakeduml.uim.userinteractionproperties.sections.UIMTextAreaRowsSection">
				<input type="org.nakeduml.uim.UIMTextArea"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.uimlistboxrowssection.rows"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				class="org.nakeduml.uim.userinteractionproperties.sections.UIMListBoxRowsSection">
				<input type="org.nakeduml.uim.UIMListBox"/>
			</propertySection>
			<propertySection
				id="org.nakeduml.uim.userinteractionproperties.basic.uimborderlayouthorizontalsection.horizontal"
				tab="org.nakeduml.uim.userinteractionproperties.basic"
				class="org.nakeduml.uim.userinteractionproperties.sections.UIMBorderLayoutHorizontalSection">
				<input type="org.nakeduml.uim.UIMBorderLayout"/>
			</propertySection> 
		</propertySections>
	</extension>
	
</plugin>
