<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.topcased.modeler.templates">
      <template
            di="templates/org.opeum.bpmn2.diagram/%name%.bpmn2di"
            model="templates/org.opeum.bpmn2.diagram/%name%.bpmn2"
            name="BPMN2 Diagram"
            id="org.opeum.bpmn2.diagram.templates.org.opeum.bpmn2.diagram"
            editorId="org.opeum.bpmn2.modeleditor.editor.Bpmn2Editor"/>
   </extension>
   
   <extension point="org.topcased.modeler.diagrams">
      <diagram
            configuration="org.opeum.bpmn2.diagram.BPMN2Configuration"
            id="org.opeum.bpmn2.diagram"
            name="BPMN2 Diagram">
         <enableFor
               class="org.eclipse.bpmn2.Process">
         </enableFor>
      </diagram>
	</extension>
	
	
	<extension
       point="org.topcased.modeler.topcasedPreferenceInitializer">
    <preferenceInitializer
          class="org.opeum.bpmn2.diagram.preferences.BPMN2DiagramTopcasedPreferenceInitializer"
          editorId="org.opeum.bpmn2.modeleditor.editor.Bpmn2Editor"
          id="org.opeum.bpmn2.diagram.preferences.BPMN2TopcasedPreferenceInitializer">
    </preferenceInitializer>
 </extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			id="org.opeum.bpmn2.diagram.preferences.BPMN2DiagramPreferencePage"
			category="org.opeum.bpmn2.modeleditor.preferences.Bpmn2PreferencePage"
			class="org.opeum.bpmn2.diagram.preferences.BPMN2DiagramPreferencePage"
			name="BPMN2Diagram"/>
		<page
			id="org.opeum.bpmn2.diagram.preferences.SequenceFlowPreferencePage"
			category="org.opeum.bpmn2.diagram.preferences.BPMN2DiagramPreferencePage"
			class="org.opeum.bpmn2.diagram.preferences.SequenceFlowPreferencePage"
			name="SequenceFlow"/>
		<page
			id="org.opeum.bpmn2.diagram.preferences.UserTaskPreferencePage"
			category="org.opeum.bpmn2.diagram.preferences.BPMN2DiagramPreferencePage"
			class="org.opeum.bpmn2.diagram.preferences.UserTaskPreferencePage"
			name="UserTask"/>
		<page
			id="org.opeum.bpmn2.diagram.preferences.BoundaryEventPreferencePage"
			category="org.opeum.bpmn2.diagram.preferences.BPMN2DiagramPreferencePage"
			class="org.opeum.bpmn2.diagram.preferences.BoundaryEventPreferencePage"
			name="BoundaryEvent"/>
	</extension>

	<extension point="org.eclipse.ui.propertyPages">
		<page
			id="org.opeum.bpmn2.diagram.preferences.property.BPMN2DiagramPreferencePage"
			category="org.opeum.bpmn2.modeleditor.preferences.property.Bpmn2PreferencePage"
			class="org.opeum.bpmn2.diagram.preferences.BPMN2DiagramPreferencePage"
			name="BPMN2Diagram">       
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
		
		<page
			id="org.opeum.bpmn2.diagram.preferences.property.SequenceFlowPreferencePage"
			category="org.opeum.bpmn2.diagram.preferences.property.BPMN2DiagramPreferencePage"
			class="org.opeum.bpmn2.diagram.preferences.SequenceFlowPreferencePage"
			name="SequenceFlow">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.bpmn2.diagram.preferences.property.UserTaskPreferencePage"
			category="org.opeum.bpmn2.diagram.preferences.property.BPMN2DiagramPreferencePage"
			class="org.opeum.bpmn2.diagram.preferences.UserTaskPreferencePage"
			name="UserTask">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.bpmn2.diagram.preferences.property.BoundaryEventPreferencePage"
			category="org.opeum.bpmn2.diagram.preferences.property.BPMN2DiagramPreferencePage"
			class="org.opeum.bpmn2.diagram.preferences.BoundaryEventPreferencePage"
			name="BoundaryEvent">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
	</extension>

</plugin>
