<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.papyrus.views.properties.environment">
      <environment environmentModel="Model/Environment.xmi">
      </environment>
   </extension>
   <extension point="org.eclipse.papyrus.views.properties.context">
      <context contextModel="Model/UML/UML.ctx">
      </context>
   </extension>
      <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="TreeOutlinePage"
            labelProvider="org.eclipse.papyrus.views.properties.providers.SelectionLabelProvider"
            tabDescriptorProvider="org.opaeum.papyrus.uml.OpaeumTabDescriptorProvider"
            sectionDescriptorProvider="org.opaeum.propertysections.OpaeumSectionDescriptorProvider"
            actionProvider="org.opaeum.propertysections.OpaeumSectionActionProvider" >
            
			<propertyCategory category="domain">
			</propertyCategory>
         <propertyCategory category="org.eclipse.papyrus"></propertyCategory>
			<propertyCategory category="visual">
			</propertyCategory>
      </propertyContributor>
   </extension>
     <extension point="org.eclipse.papyrus.views.properties.context">
         <context contextModel="Model/UMLNotation/UMLNotation.ctx">
         </context>
      </extension>

   <extension
         point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset
            file="Model/UML/uml.querySet">
      </modelqueryset>
   </extension>
   <extension
         point="org.eclipse.papyrus.views.properties.labelprovider">
      <labelProvider
            labelProvider="org.eclipse.papyrus.uml.properties.providers.UMLFilteredLabelProvider"
            priority="50">
      </labelProvider>
   </extension>
   

	<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
		<propertyTabs contributorId="TreeOutlinePage">
			<propertyTab id="org.opaeum.eclipse.opaeumTab" category="domain"
				label="Basic" indented="false" />
			<propertyTab id="org.opaeum.eclipse.deadlinesTab" category="domain"
				afterTab="org.opaeum.eclipse.opaeumTab" label="Deadlines" indented="true" />
			<propertyTab id="org.opaeum.eclipse.extendedTab" category="domain" afterTab="org.opaeum.eclipse.opaeumTab"
				label="Extended" indented="true" />
			<propertyTab id="org.opaeum.eclipse.i8nTab" category="domain" afterTab="org.opaeum.eclipse.opaeumTab"
				label="Languages" indented="true" />
			<propertyTab id="org.opaeum.eclipse.firstEndTab" category="domain" afterTab="org.opaeum.eclipse.opaeumTab"
				label="First End" indented="true" />
			<propertyTab id="org.opaeum.eclipse.secondEndTab" category="domain" afterTab="org.opaeum.eclipse.firstEndTab"
				label="Second End" indented="true" />
				
			<propertyTab id="org.opaeum.eclipse.interfacesTab"
				category="domain" label="Interfaces" indented="true"
				afterTab="org.opaeum.eclipse.opaeumTab" />
			<propertyTab id="org.opaeum.eclipse.redefinitionsTab"
				category="domain" label="Redefinitions and Unions" indented="true"
				afterTab="org.opaeum.eclipse.opaeumTab" />
			<propertyTab id="org.opaeum.eclipse.qualifiersTab"
				category="domain" label="Qualifiers" indented="true"
				afterTab="org.opaeum.eclipse.opaeumTab" />
			<propertyTab id="org.opaeum.eclipse.parametersTab"
				category="domain" indented="true" label="Parameters"
				afterTab="org.opaeum.eclipse.opaeumTab" />
			<propertyTab id="org.opaeum.eclipse.preconditionsTab"
				category="domain" indented="true" label="Preconditions"
				afterTab="org.opaeum.eclipse.parametersTab" />
			<propertyTab id="org.opaeum.eclipse.postconditionsTab"
				category="domain" indented="true" label="Postconditions"
				afterTab="org.opaeum.eclipse.preconditionsTab" />
			<propertyTab id="org.opaeum.eclipse.invariantsTab"
				category="domain" indented="true" label="Invariants"
				afterTab="org.opaeum.eclipse.opaeumTab" />
			<propertyTab id="org.opaeum.papyrus.firstEndTab"
				category="domain" indented="true" label="First End"
				afterTab="org.opaeum.eclipse.opaeumTab" />
			<propertyTab id="org.opaeum.papyrus.secondEndTab"
				category="domain" indented="true" label="Second End"
				afterTab="org.opaeum.papyrus.firstEndStereotypesTab" />
			<propertyTab id="org.opaeum.papyrus.profilesTab"
				category="domain" label="Profiles" afterTab="org.opaeum.eclipse.opaeumTab" />
			<propertyTab
         afterTab="org.opaeum.papyrus.firstEndTab"
         category="domain"
         id="org.opaeum.papyrus.firstEndStereotypesTab"
         indented="true"
         label="First End Stereotypes"/>
			<propertyTab
         afterTab="org.opaeum.papyrus.secondEndTab"
         category="domain"
         id="org.opaeum.papyrus.secondEndStereotypesTab"
         indented="true"
         label="Second End Stereotypes"/>
			<propertyTab id="org.opaeum.papyrus.stereotypesTab" 
				category="domain" label="Stereotypes" afterTab="org.opaeum.eclipse.opaeumTab" />
			<propertyTab id="org.opaeum.eclipse.redefinitionTab"
				category="domain" label="Redefinition" afterTab="org.opaeum.eclipse.opaeumTab" />
			<propertyTab id="org.opaeum.eclipse.stereotypeAttributesTab"
				category="domain" label="Stereotype Attributes" afterTab="org.opaeum.papyrus.stereotypesTab"
				indented="true" />
			<propertyTab id="org.opaeum.eclipse.templateTab"
				category="domain" label="Notification Text" afterTab="org.opaeum.eclipse.opaeumTab"
				indented="true" />
			<propertyTab category="appearance"
				id="property.tab.AppearancePropertySection" afterTab="org.opaeum.eclipse.opaeumTab"
				label="Appearance1" />
			<propertyTab category="domain"
				id="property.tab.DiagramPropertySection" afterTab="org.opaeum.eclipse.opaeumTab"
				label="Diagram" />
			<propertyTab id="property.tab.advanced" category="domain" 
				label="Advanced1" afterTab="org.opaeum.eclipse.opaeumTab"
				indented="false" />
   		<propertyTab id="Base" label="General" category="org.eclipse.papyrus" afterTab=""/>
     	<propertyTab id="Comments" label="Comments" category="org.eclipse.papyrus" afterTab="Base"/>
     	<propertyTab id="advanced" label="Advanced2" category="org.eclipse.papyrus" afterTab="org.opaeum.eclipse.opaeumTab" />
		</propertyTabs>
	</extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.opaeum.papyrus.editor.OpaeumMultiDiagramEditor"
            default="true"
            extensions="di.opaeum"
            icon="icons/papyrus/Papyrus_16x16.gif"
            id="org.eclipse.papyrus.infra.core.papyrusEditor.opaeum"
            matchingStrategy="org.eclipse.papyrus.editor.PapyrusMatchingStrategy"
            name="Opaeum Editor">
      </editor>
   </extension>
</plugin>
