<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.topcased.modeler.templates">
      <template
            di="templates/org.nakeduml.uim.folderdiagram/%name%.uimdi"
            model="templates/org.nakeduml.uim.folderdiagram/%name%.uim"
            name="User Interaction Folder Diagram"
            id="org.nakeduml.uim.folderdiagram.templates.org.nakeduml.uim.folderdiagram"
            editorId="org.nakeduml.uim.modeleditor.editor.UIMEditor"/>
   </extension>
   
   <extension point="org.topcased.modeler.diagrams">
      <diagram
            configuration="org.nakeduml.uim.folderdiagram.UIMFConfiguration"
            id="org.nakeduml.uim.folderdiagram"
            name="User Interaction Folder Diagram">
         <enableFor
               class="org.nakeduml.uim.AbstractFormFolder">
         </enableFor>
         <enableFor
               class="org.nakeduml.uim.EntityFolder">
         </enableFor>
         <enableFor
               class="org.nakeduml.uim.StateMachineFolder">
         </enableFor>
         <enableFor
               class="org.nakeduml.uim.ActivityFolder">
         </enableFor>
      </diagram>
	</extension>
	
	
	<extension
       point="org.topcased.modeler.topcasedPreferenceInitializer">
    <preferenceInitializer
          class="org.nakeduml.uim.folderdiagram.preferences.UIMFDiagramTopcasedPreferenceInitializer"
          editorId="org.nakeduml.uim.modeleditor.editor.UIMEditor"
          id="org.nakeduml.uim.folderdiagram.preferences.UIMFTopcasedPreferenceInitializer">
    </preferenceInitializer>
 </extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.UIMFDiagramPreferencePage"
			category="org.nakeduml.uim.modeleditor.preferences.UIMPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.UIMFDiagramPreferencePage"
			name="UIMFDiagram"/>
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.FormFolderPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.FormFolderPreferencePage"
			name="FormFolder"/>
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.EntityFolderPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.EntityFolderPreferencePage"
			name="EntityFolder"/>
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.StateMachineFolderPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.StateMachineFolderPreferencePage"
			name="StateMachineFolder"/>
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.ActivityFolderPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.ActivityFolderPreferencePage"
			name="ActivityFolder"/>
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.ClassFormPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.ClassFormPreferencePage"
			name="ClassForm"/>
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.StateFormPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.StateFormPreferencePage"
			name="StateForm"/>
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.OperationTaskFormPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.OperationTaskFormPreferencePage"
			name="OperationTaskForm"/>
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.ActionTaskFormPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.ActionTaskFormPreferencePage"
			name="ActionTaskForm"/>
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.OperationInvocationFormPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.OperationInvocationFormPreferencePage"
			name="OperationInvocationForm"/>
	</extension>

	<extension point="org.eclipse.ui.propertyPages">
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.property.UIMFDiagramPreferencePage"
			category="org.nakeduml.uim.modeleditor.preferences.property.UIMPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.UIMFDiagramPreferencePage"
			name="UIMFDiagram">       
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
		
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.property.FormFolderPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.property.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.FormFolderPreferencePage"
			name="FormFolder">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.property.EntityFolderPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.property.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.EntityFolderPreferencePage"
			name="EntityFolder">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.property.StateMachineFolderPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.property.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.StateMachineFolderPreferencePage"
			name="StateMachineFolder">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.property.ActivityFolderPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.property.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.ActivityFolderPreferencePage"
			name="ActivityFolder">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.property.ClassFormPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.property.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.ClassFormPreferencePage"
			name="ClassForm">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.property.StateFormPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.property.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.StateFormPreferencePage"
			name="StateForm">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.property.OperationTaskFormPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.property.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.OperationTaskFormPreferencePage"
			name="OperationTaskForm">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.property.ActionTaskFormPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.property.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.ActionTaskFormPreferencePage"
			name="ActionTaskForm">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.nakeduml.uim.folderdiagram.preferences.property.OperationInvocationFormPreferencePage"
			category="org.nakeduml.uim.folderdiagram.preferences.property.UIMFDiagramPreferencePage"
			class="org.nakeduml.uim.folderdiagram.preferences.OperationInvocationFormPreferencePage"
			name="OperationInvocationForm">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
	</extension>

</plugin>
