<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.opaeum.uim.presentation.UimModelWizardID"
            name="%_UI_UimModelWizard_label"
            class="org.opaeum.uim.presentation.UimModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UimModelFile.gif">
         <description>%_UI_UimModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.opaeum.uim.presentation.UimEditorID"
            name="%_UI_UimEditor_label"
            icon="icons/full/obj16/UimModelFile.gif"
            extensions="uim"
            class="org.opaeum.uim.presentation.UimEditor"
            contributorClass="org.opaeum.uim.presentation.UimActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.opaeum.uim.layout.presentation.LayoutModelWizardID"
            name="%_UI_LayoutModelWizard_label"
            class="org.opaeum.uim.layout.presentation.LayoutModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LayoutModelFile.gif">
         <description>%_UI_LayoutModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.opaeum.uim.layout.presentation.LayoutEditorID"
            name="%_UI_LayoutEditor_label"
            icon="icons/full/obj16/LayoutModelFile.gif"
            extensions="layout"
            class="org.opaeum.uim.layout.presentation.LayoutEditor"
            contributorClass="org.opaeum.uim.layout.presentation.LayoutActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.opaeum.uim.control.presentation.ControlModelWizardID"
            name="%_UI_ControlModelWizard_label"
            class="org.opaeum.uim.control.presentation.ControlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ControlModelFile.gif">
         <description>%_UI_ControlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.opaeum.uim.control.presentation.ControlEditorID"
            name="%_UI_ControlEditor_label"
            icon="icons/full/obj16/ControlModelFile.gif"
            extensions="control"
            class="org.opaeum.uim.control.presentation.ControlEditor"
            contributorClass="org.opaeum.uim.control.presentation.ControlActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.opaeum.uim.folder.presentation.FolderModelWizardID"
            name="%_UI_FolderModelWizard_label"
            class="org.opaeum.uim.folder.presentation.FolderModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FolderModelFile.gif">
         <description>%_UI_FolderModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.opaeum.uim.folder.presentation.FolderEditorID"
            name="%_UI_FolderEditor_label"
            icon="icons/full/obj16/FolderModelFile.gif"
            extensions="folder"
            class="org.opaeum.uim.folder.presentation.FolderEditor"
            contributorClass="org.opaeum.uim.folder.presentation.FolderActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.opaeum.uim.form.presentation.FormModelWizardID"
            name="%_UI_FormModelWizard_label"
            class="org.opaeum.uim.form.presentation.FormModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FormModelFile.gif">
         <description>%_UI_FormModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.opaeum.uim.form.presentation.FormEditorID"
            name="%_UI_FormEditor_label"
            icon="icons/full/obj16/FormModelFile.gif"
            extensions="form"
            class="org.opaeum.uim.form.presentation.FormEditor"
            contributorClass="org.opaeum.uim.form.presentation.FormActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.opaeum.uim.binding.presentation.BindingModelWizardID"
            name="%_UI_BindingModelWizard_label"
            class="org.opaeum.uim.binding.presentation.BindingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BindingModelFile.gif">
         <description>%_UI_BindingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.opaeum.uim.binding.presentation.BindingEditorID"
            name="%_UI_BindingEditor_label"
            icon="icons/full/obj16/BindingModelFile.gif"
            extensions="binding"
            class="org.opaeum.uim.binding.presentation.BindingEditor"
            contributorClass="org.opaeum.uim.binding.presentation.BindingActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.opaeum.uim.security.presentation.SecurityModelWizardID"
            name="%_UI_SecurityModelWizard_label"
            class="org.opaeum.uim.security.presentation.SecurityModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SecurityModelFile.gif">
         <description>%_UI_SecurityModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.opaeum.uim.security.presentation.SecurityEditorID"
            name="%_UI_SecurityEditor_label"
            icon="icons/full/obj16/SecurityModelFile.gif"
            extensions="security"
            class="org.opaeum.uim.security.presentation.SecurityEditor"
            contributorClass="org.opaeum.uim.security.presentation.SecurityActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.opaeum.uim.action.presentation.ActionModelWizardID"
            name="%_UI_ActionModelWizard_label"
            class="org.opaeum.uim.action.presentation.ActionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ActionModelFile.gif">
         <description>%_UI_ActionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.opaeum.uim.action.presentation.ActionEditorID"
            name="%_UI_ActionEditor_label"
            icon="icons/full/obj16/ActionModelFile.gif"
            extensions="action"
            class="org.opaeum.uim.action.presentation.ActionEditor"
            contributorClass="org.opaeum.uim.action.presentation.ActionActionBarContributor">
      </editor>
   </extension>

</plugin>
