org.opaeum.topcased.activitydiagram/bin
org.opaeum.topcased.classdiagram/bin
org.opaeum.topcased.componentdiagram/bin
org.opaeum.topcased.uml.feature/bin
org.opaeum.topcased.propertysections/bin
org.opaeum.topcased.statemachinediagram/bin
org.opaeum.topcased.validation/bin
org.opaeum.topcased.bpmn2/bin

