<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             adaptable="true"
             id="org.opaeum.reverse.menu.objectContribution"
             objectClass="org.eclipse.jdt.core.ICompilationUnit">
          <menu
                id="org.opaeum.reverse.menu.compilationunit"
                label="Opaeum">
             <groupMarker
                   name="opaeumActionsGroup">
             </groupMarker>
          </menu>
          <action
                class="org.opaeum.reverse.popup.actions.ReverseEngineerClassesAction"
                enablesFor="*"
                id="org.opaeum.reverse.popup.actions.ReverseEngineerClassesAction"
                label="Reverse Java Classes"
                menubarPath="org.opaeum.reverse.menu.compilationunit/opaeumActionsGroup">
          </action>
       </objectContribution>
       <objectContribution
             adaptable="true"
             id="org.opaeum.reverse.menu.objectContribution"
             objectClass="org.eclipse.jdt.core.IClassFile">
          <menu
                id="org.opaeum.reverse.menu.classfile"
                label="Opaeum">
             <groupMarker
                   name="opaeumActionsGroup">
             </groupMarker>
          </menu>
          <action
                class="org.opaeum.reverse.popup.actions.ReverseEngineerClassesAction"
                enablesFor="*"
                id="org.opaeum.reverse.popup.actions.ReverseEngineerClassesAction"
                label="Reverse Java Classes"
                menubarPath="org.opaeum.reverse.menu.classfile/opaeumActionsGroup">
          </action>
       </objectContribution>
       <objectContribution
             adaptable="true"
             id="org.opaeum.reverse.menu.objectContribution2"
             objectClass="org.eclipse.jdt.core.IPackageFragment">
          <menu
                id="org.opaeum.reverse.menu.classfile"
                label="Opaeum">
             <groupMarker
                   name="opaeumActionsGroup">
             </groupMarker>
          </menu>
          <action
                class="org.opaeum.reverse.popup.actions.ReverseEngineerClassesAction"
                enablesFor="*"
                id="org.opaeum.reverse.popup.actions.ReverseEngineerClassesAction"
                label="Reverse Java Classes"
                menubarPath="org.opaeum.reverse.menu.classfile/opaeumActionsGroup">
          </action>
       </objectContribution>
    </extension>

</plugin>
