org.opeum.topcased.activitydiagram/bin
org.opeum.topcased.classdiagram/bin
org.opeum.topcased.componentdiagram/bin
org.opeum.topcased.uml.feature/bin
org.opeum.topcased.propertysections/bin
org.opeum.topcased.statemachinediagram/bin
org.opeum.topcased.validation/bin
org.opeum.topcased.bpmn2/bin

