<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.topcased.modeler.templates">
      <template
            di="templates/compositeStructuresDiagram/%name%.umldi"
            editorId="org.topcased.modeler.uml.editor.UMLEditor"
            id="org.topcased.modeler.uml.compositestructuresdiagram.templates.compositeStructuresDiagram"
            model="templates/compositeStructuresDiagram/%name%.uml"
            name="Composite Structures Diagram"/>
   </extension>
   
   <extension point="org.topcased.modeler.diagrams">
      <diagram
            configuration="org.topcased.modeler.uml.compositestructuresdiagram.CompositeStructuresConfiguration"
            editorID="org.topcased.modeler.uml.editor.UMLEditor"
            id="org.topcased.modeler.uml.compositestructuresdiagram"
            name="Composite Structures Diagram">
         <enableFor class="org.eclipse.uml2.uml.Class"/>
      </diagram>
	</extension>
	



	<extension point="org.eclipse.ui.preferencePages">
		<page
			id="org.topcased.modeler.uml.compositestructuresdiagram.preferences.CompositeStructuresDiagramPreferencePage"
			category="org.topcased.modeler.uml.preferences.UMLPreferencePage"
			class="org.topcased.modeler.uml.compositestructuresdiagram.preferences.CompositeStructuresDiagramPreferencePage"
			name="Composite Diagram"/>
		<page
			id="org.topcased.modeler.uml.compositestructuresdiagram.preferences.ConnectorPreferencePage"
			category="org.topcased.modeler.uml.compositestructuresdiagram.preferences.CompositeStructuresDiagramPreferencePage"
			class="org.topcased.modeler.uml.compositestructuresdiagram.preferences.ConnectorPreferencePage"
			name="Connector"/>
		<page
			id="org.topcased.modeler.uml.compositestructuresdiagram.preferences.InterfaceRealizationPreferencePage"
			category="org.topcased.modeler.uml.compositestructuresdiagram.preferences.CompositeStructuresDiagramPreferencePage"
			class="org.topcased.modeler.uml.compositestructuresdiagram.preferences.InterfaceRealizationPreferencePage"
			name="Interface Realization"/>
		<page
			id="org.topcased.modeler.uml.compositestructuresdiagram.preferences.UsagePreferencePage"
			category="org.topcased.modeler.uml.compositestructuresdiagram.preferences.CompositeStructuresDiagramPreferencePage"
			class="org.topcased.modeler.uml.compositestructuresdiagram.preferences.UsagePreferencePage"
			name="Usage"/>
		<page
			id="org.topcased.modeler.uml.compositestructuresdiagram.preferences.PortPreferencePage"
			category="org.topcased.modeler.uml.compositestructuresdiagram.preferences.CompositeStructuresDiagramPreferencePage"
			class="org.topcased.modeler.uml.compositestructuresdiagram.preferences.PortPreferencePage"
			name="Port"/>
		<page
			id="org.topcased.modeler.uml.compositestructuresdiagram.preferences.PropertyPreferencePage"
			category="org.topcased.modeler.uml.compositestructuresdiagram.preferences.CompositeStructuresDiagramPreferencePage"
			class="org.topcased.modeler.uml.compositestructuresdiagram.preferences.PropertyPreferencePage"
			name="Property"/>
		<page
			id="org.topcased.modeler.uml.compositestructuresdiagram.preferences.InterfacePreferencePage"
			category="org.topcased.modeler.uml.compositestructuresdiagram.preferences.CompositeStructuresDiagramPreferencePage"
			class="org.topcased.modeler.uml.compositestructuresdiagram.preferences.InterfacePreferencePage"
			name="Interface"/>
		<page
			id="org.topcased.modeler.uml.compositestructuresdiagram.preferences.CollaborationUsePreferencePage"
			category="org.topcased.modeler.uml.compositestructuresdiagram.preferences.CompositeStructuresDiagramPreferencePage"
			class="org.topcased.modeler.uml.compositestructuresdiagram.preferences.CollaborationUsePreferencePage"
			name="Collaboration Use"/>
	</extension>

	<extension point="org.eclipse.ui.propertyPages">
		<page
			id="org.topcased.modeler.uml.compositestructuresdiagram.preferences.property.CompositeStructuresDiagramPreferencePage"
			category="org.topcased.modeler.uml.preferences.property.UMLPreferencePage"
			class="org.topcased.modeler.uml.compositestructuresdiagram.preferences.CompositeStructuresDiagramPreferencePage"
			name="Composite Diagram">       
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
		
		<page
			id="org.topcased.modeler.uml.compositestructuresdiagram.preferences.property.ConnectorPreferencePage"
			category="org.topcased.modeler.uml.compositestructuresdiagram.preferences.property.CompositeStructuresDiagramPreferencePage"
			class="org.topcased.modeler.uml.compositestructuresdiagram.preferences.ConnectorPreferencePage"
			name="Connector">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.uml.compositestructuresdiagram.preferences.property.InterfaceRealizationPreferencePage"
			category="org.topcased.modeler.uml.compositestructuresdiagram.preferences.property.CompositeStructuresDiagramPreferencePage"
			class="org.topcased.modeler.uml.compositestructuresdiagram.preferences.InterfaceRealizationPreferencePage"
			name="Interface Realization">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.uml.compositestructuresdiagram.preferences.property.UsagePreferencePage"
			category="org.topcased.modeler.uml.compositestructuresdiagram.preferences.property.CompositeStructuresDiagramPreferencePage"
			class="org.topcased.modeler.uml.compositestructuresdiagram.preferences.UsagePreferencePage"
			name="Usage">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.uml.compositestructuresdiagram.preferences.property.PortPreferencePage"
			category="org.topcased.modeler.uml.compositestructuresdiagram.preferences.property.CompositeStructuresDiagramPreferencePage"
			class="org.topcased.modeler.uml.compositestructuresdiagram.preferences.PortPreferencePage"
			name="Port">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.uml.compositestructuresdiagram.preferences.property.PropertyPreferencePage"
			category="org.topcased.modeler.uml.compositestructuresdiagram.preferences.property.CompositeStructuresDiagramPreferencePage"
			class="org.topcased.modeler.uml.compositestructuresdiagram.preferences.PropertyPreferencePage"
			name="Property">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.uml.compositestructuresdiagram.preferences.property.InterfacePreferencePage"
			category="org.topcased.modeler.uml.compositestructuresdiagram.preferences.property.CompositeStructuresDiagramPreferencePage"
			class="org.topcased.modeler.uml.compositestructuresdiagram.preferences.InterfacePreferencePage"
			name="Interface">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.uml.compositestructuresdiagram.preferences.property.CollaborationUsePreferencePage"
			category="org.topcased.modeler.uml.compositestructuresdiagram.preferences.property.CompositeStructuresDiagramPreferencePage"
			class="org.topcased.modeler.uml.compositestructuresdiagram.preferences.CollaborationUsePreferencePage"
			name="Collaboration Use">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
    	
    	
	</extension>
 <extension
       point="org.topcased.modeler.topcasedPreferenceInitializer">
    <preferenceInitializer
          class="org.topcased.modeler.uml.compositestructuresdiagram.preferences.CompositeDiagramTopcasedPreferenceInitializer"
          editorId="org.topcased.modeler.uml.editor.UMLEditor"
          id="org.topcased.modeler.uml.compositestructuresdiagram.preferenceInitializer">
    </preferenceInitializer>
 </extension>
 <extension
       point="org.topcased.modeler.synchronizedModelDiagramRule">
    <synchronizedModelDiagramRule
          graphicType="org.topcased.modeler.uml.compositestructuresdiagram.edit.PortEditPart"
          modelInterface="org.eclipse.uml2.uml.Port"
          synchronizationRule="org.topcased.modeler.uml.compositestructuresdiagram.parentrule.PartWithHeaderLabelSuffixParentRule">
       <description>
          A new rule supplementary, validate only for element  Port  in composite structures diagram.
       </description>
    </synchronizedModelDiagramRule>
    <synchronizedModelDiagramRule
          graphicType="org.topcased.modeler.uml.compositestructuresdiagram.edit.InterfaceEditPart"
          modelInterface="org.eclipse.uml2.uml.Interface"
          synchronizationRule="org.topcased.modeler.uml.compositestructuresdiagram.parentrule.PartWithHeaderLabelSuffixParentRule">
       <description>
          A new rule supplementary, validate only for element Interface in composite structures diagram.
       </description>
    </synchronizedModelDiagramRule>
 </extension>
 <extension
       point="org.topcased.modeler.moveElementFilter">
    <DiagramKeeper
          configuration="org.topcased.modeler.uml.compositestructuresdiagram"
          keeper="org.topcased.modeler.uml.compositestructuresdiagram.CompositeStructuresDiagramKeeper">
    </DiagramKeeper>
 </extension>

</plugin>
