<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.topcased.modeler.diagrams">
		<diagram
        configuration="org.nakeduml.topcased.bpmn2.Bpmn2Configuration"
        editorID="org.topcased.modeler.uml.editor.UMLEditor"
        id="org.nakeduml.topcased.bpmn2.Bpmn2Configuration"
        name="BPMN2 Diagram">
		 <enableFor class="org.eclipse.uml2.uml.Activity"/>
	     <enableFor
               class="org.eclipse.uml2.uml.CallBehaviorAction"
               creationCommand="org.topcased.modeler.uml.activitydiagram.commands.CreateActivityDiagramFromCallBehaviorAction">
         </enableFor>
		</diagram>
	</extension>	
</plugin>
