<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.topcased.modeler.templates">
      <template
            di="templates/org.opeum.uim.classform/%name%.uimdi"
            model="templates/org.opeum.uim.classform/%name%.uim"
            name="Class Form Diagram"
            id="org.opeum.uim.classform.templates.org.opeum.uim.classform"
            editorId="org.opeum.uim.modeleditor.editor.UimEditor"/>
   </extension>
   
   <extension point="org.topcased.modeler.diagrams">
      <diagram
            configuration="org.opeum.uim.classform.ClassFormConfiguration"
            id="org.opeum.uim.classform"
            name="Class Form Diagram">
      </diagram>
	</extension>
	
	
	<extension
       point="org.topcased.modeler.topcasedPreferenceInitializer">
    <preferenceInitializer
          class="org.opeum.uim.classform.preferences.ClassFormDiagramTopcasedPreferenceInitializer"
          editorId="org.opeum.uim.modeleditor.editor.UimEditor"
          id="org.opeum.uim.classform.preferences.ClassFormTopcasedPreferenceInitializer">
    </preferenceInitializer>
 </extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			id="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			category="org.opeum.uim.modeleditor.preferences.UimPreferencePage"
			class="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			name="ClassFormDiagram"/>
		<page
			id="org.opeum.uim.classform.preferences.UimFieldPreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimFieldPreferencePage"
			name="UimField"/>
		<page
			id="org.opeum.uim.classform.preferences.NavigationToEntityPreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.NavigationToEntityPreferencePage"
			name="NavigationToEntity"/>
		<page
			id="org.opeum.uim.classform.preferences.NavigationToOperationPreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.NavigationToOperationPreferencePage"
			name="NavigationToOperation"/>
		<page
			id="org.opeum.uim.classform.preferences.BuiltInActionPreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.BuiltInActionPreferencePage"
			name="BuiltInAction"/>
		<page
			id="org.opeum.uim.classform.preferences.OperationActionPreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.OperationActionPreferencePage"
			name="OperationAction"/>
		<page
			id="org.opeum.uim.classform.preferences.TransitionActionPreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.TransitionActionPreferencePage"
			name="TransitionAction"/>
		<page
			id="org.opeum.uim.classform.preferences.FormPanelPreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.FormPanelPreferencePage"
			name="FormPanel"/>
		<page
			id="org.opeum.uim.classform.preferences.UimPanelPreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimPanelPreferencePage"
			name="UimPanel"/>
		<page
			id="org.opeum.uim.classform.preferences.UimTabPanelPreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimTabPanelPreferencePage"
			name="UimTabPanel"/>
		<page
			id="org.opeum.uim.classform.preferences.UimTabPreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimTabPreferencePage"
			name="UimTab"/>
		<page
			id="org.opeum.uim.classform.preferences.UimDataTablePreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimDataTablePreferencePage"
			name="UimDataTable"/>
		<page
			id="org.opeum.uim.classform.preferences.DetailPanelPreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.DetailPanelPreferencePage"
			name="DetailPanel"/>
		<page
			id="org.opeum.uim.classform.preferences.UimXYLayoutPreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimXYLayoutPreferencePage"
			name="UimXYLayout"/>
		<page
			id="org.opeum.uim.classform.preferences.UimGridLayoutPreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimGridLayoutPreferencePage"
			name="UimGridLayout"/>
		<page
			id="org.opeum.uim.classform.preferences.UimToolbarLayoutPreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimToolbarLayoutPreferencePage"
			name="UimToolbarLayout"/>
		<page
			id="org.opeum.uim.classform.preferences.UimBorderLayoutPreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimBorderLayoutPreferencePage"
			name="UimBorderLayout"/>
		<page
			id="org.opeum.uim.classform.preferences.UimFullLayoutPreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimFullLayoutPreferencePage"
			name="UimFullLayout"/>
		<page
			id="org.opeum.uim.classform.preferences.UimColumnLayoutPreferencePage"
			category="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimColumnLayoutPreferencePage"
			name="UimColumnLayout"/>
	</extension>

	<extension point="org.eclipse.ui.propertyPages">
		<page
			id="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			category="org.opeum.uim.modeleditor.preferences.property.UimPreferencePage"
			class="org.opeum.uim.classform.preferences.ClassFormDiagramPreferencePage"
			name="ClassFormDiagram">       
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
		
		<page
			id="org.opeum.uim.classform.preferences.property.UimFieldPreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimFieldPreferencePage"
			name="UimField">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.uim.classform.preferences.property.NavigationToEntityPreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.NavigationToEntityPreferencePage"
			name="NavigationToEntity">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.uim.classform.preferences.property.NavigationToOperationPreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.NavigationToOperationPreferencePage"
			name="NavigationToOperation">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.uim.classform.preferences.property.BuiltInActionPreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.BuiltInActionPreferencePage"
			name="BuiltInAction">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.uim.classform.preferences.property.OperationActionPreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.OperationActionPreferencePage"
			name="OperationAction">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.uim.classform.preferences.property.TransitionActionPreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.TransitionActionPreferencePage"
			name="TransitionAction">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.uim.classform.preferences.property.FormPanelPreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.FormPanelPreferencePage"
			name="FormPanel">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.uim.classform.preferences.property.UimPanelPreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimPanelPreferencePage"
			name="UimPanel">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.uim.classform.preferences.property.UimTabPanelPreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimTabPanelPreferencePage"
			name="UimTabPanel">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.uim.classform.preferences.property.UimTabPreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimTabPreferencePage"
			name="UimTab">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.uim.classform.preferences.property.UimDataTablePreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimDataTablePreferencePage"
			name="UimDataTable">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.uim.classform.preferences.property.DetailPanelPreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.DetailPanelPreferencePage"
			name="DetailPanel">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.uim.classform.preferences.property.UimXYLayoutPreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimXYLayoutPreferencePage"
			name="UimXYLayout">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.uim.classform.preferences.property.UimGridLayoutPreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimGridLayoutPreferencePage"
			name="UimGridLayout">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.uim.classform.preferences.property.UimToolbarLayoutPreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimToolbarLayoutPreferencePage"
			name="UimToolbarLayout">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.uim.classform.preferences.property.UimBorderLayoutPreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimBorderLayoutPreferencePage"
			name="UimBorderLayout">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.uim.classform.preferences.property.UimFullLayoutPreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimFullLayoutPreferencePage"
			name="UimFullLayout">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.opeum.uim.classform.preferences.property.UimColumnLayoutPreferencePage"
			category="org.opeum.uim.classform.preferences.property.ClassFormDiagramPreferencePage"
			class="org.opeum.uim.classform.preferences.UimColumnLayoutPreferencePage"
			name="UimColumnLayout">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
	</extension>

</plugin>
