<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="viewapp"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            cardinality="singleton-global"
            visible="true">
         <run
               class="org.opaeum.rwt.runtime.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RAP Perspective"
            class="org.opaeum.rwt.runtime.Perspective"
            id="org.opaeum.rwt.runtime.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="org.opaeum.rwt.runtime.View"
            id="org.opaeum.rwt.runtime.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            servletName="view"
            themeId="org.eclipse.rap.design.example.fancy.theme"
            defaultEntrypointId="org.opaeum.rwt.runtime.viewapp"
            title="RAP Single View"
            id="org.opaeum.rwt.runtime.branding">
      </branding>
   </extension>

</plugin>
