<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.opaeum.uimodeler.UimMultiDiagramEditor"
            contributorClass="org.opaeum.uimodeler.OpaeumActionBarContributor"
            default="true"
            extensions="di"
            icon="icons/system-device-notifier.png"
            id="org.opaeum.uimodeler.OpaeumMultiDiagramEditor"
            matchingStrategy="org.eclipse.papyrus.editor.PapyrusMatchingStrategy"
            name="Opaeum  UI Editor">
      </editor>
   </extension>

   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="resource/UimPapyrusDefaultBrowserCustomization.uiCustom" loadByDefault="true"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset file="resource/UimBrowserQuery.querySet"/>
   </extension>
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent activeByDefault="true" contentProvider="org.opaeum.uimodeler.modelexplorer.UimContentProvider" icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Model.gif" id="org.opaeum.uim.modelcontent"
      		labelProvider="org.eclipse.papyrus.views.modelexplorer.MoDiscoLabelProvider" name="Uim Model Contents" priority="lower">
         <triggerPoints>
            <or>
               <instanceof value="org.eclipse.emf.ecore.EObject">
               </instanceof>
               <adapt type="org.eclipse.emf.ecore.EObject">
               </adapt>
               <instanceof value="java.lang.Object">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.eclipse.emf.facet.infra.browser.uicore.internal.model.ModelElementItem">
               </instanceof>
               <instanceof value="org.eclipse.gmf.runtime.notation.Diagram">
               </instanceof>
            </or>
         </possibleChildren>
         <actionProvider class="org.eclipse.papyrus.views.modelexplorer.actionprovider.GenericTransformActionProvider" id="org.eclipse.papyrus.views.modelexplorer.actionprovider.GenericTransformActionProvider">
            <enablement>
               <or>
                  <adapt type="org.eclipse.emf.ecore.EObject">
                  </adapt>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider class="org.eclipse.papyrus.views.modelexplorer.actionprovider.EditingDomainActionProvider" id="org.eclipse.papyrus.views.modelexplorer.actionprovider.EditingDomainActionProvider">
            <enablement>
               <and>
                  <not>
                     <instanceof value="org.eclipse.gmf.runtime.notation.Diagram">
                     </instanceof>
                  </not>
                  <adapt type="org.eclipse.emf.ecore.EObject">
                  </adapt>
               </and>
            </enablement>
         </actionProvider>
         <dropAssistant class="org.eclipse.papyrus.views.modelexplorer.dnd.CommonDropAdapterAssistant" id="org.eclipse.papyrus.views.modelexplorer.dnd.CommonDropAdapterAssistant">
            <possibleDropTargets>
               <or>
                  <instanceof value="org.eclipse.gmf.runtime.notation.Diagram">
                  </instanceof>
                  <adapt type="org.eclipse.emf.ecore.EObject">
                  </adapt>
               </or>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
   </extension>
   

<!-- Creation command declarations -->
<extension point="org.eclipse.ui.commands">
	<!-- Creation command for Abstraction -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.opaeum.uimodeler.modelexplorer.handler.CreateEditorPageCommandHandler" 
		description="Creates a new Editor Page" id="org.opaeum.uimodeler.modelexplorer.handler.CreateEditorPageCommandHandler" name="Create a new EditorPage">
	</command>
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.opaeum.uimodeler.modelexplorer.handler.CreateNewObjectWizardCommandHandler" 
		description="Creates a New Object Wizard" id="org.opaeum.uimodeler.modelexplorer.handler.CreateNewObjectWizardCommandHandler" name="Create a NewObjectWizard">
	</command>
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.opaeum.uimodeler.modelexplorer.handler.CreateOperationActionPopupCommandHandler" 
			description="Creates a Operation Action Popup" id="org.opaeum.uimodeler.modelexplorer.handler.CreateOperationActionPopupCommandHandler" name="Create a new OperationActionPopup">
	</command>
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.opaeum.uimodeler.modelexplorer.handler.CreatePrimaryEditorCommandHandler" 
	description="Creates a Primary Editor" id="org.opaeum.uimodeler.modelexplorer.handler.CreatePrimaryEditorCommandHandler" name="Create a new PrimaryEditor">
	</command>
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.opaeum.uimodeler.modelexplorer.handler.CreateSecondaryEditorCommandHandler" 
		description="Creates a SecondaryEditor" id="org.opaeum.uimodeler.modelexplorer.handler.CreateSecondaryEditorCommandHandler" name="Create a new SecondaryEditor">
	</command>
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.opaeum.uimodeler.modelexplorer.handler.CreateWizardPageCommandHandler" 
		description="Creates a new Wizard Page" id="org.opaeum.uimodeler.modelexplorer.handler.CreateWizardPageCommandHandler" name="Create a new WizardPage">
	</command>
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.opaeum.uimodeler.modelexplorer.handler.CreateOperationPopupPageCommandHandler" 
		description="Creates a new Operation Popup Page" id="org.opaeum.uimodeler.modelexplorer.handler.CreateOperationPopupPageCommandHandler" name="Create a new OperationPopupPage">
	</command>
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.opaeum.uimodeler.modelexplorer.handler.CreateCubeQueryCommandHandler" 
		description="Creates a new Cube Query" id="org.opaeum.uimodeler.modelexplorer.handler.CreateCubeQueryCommandHandler" name="Create a new Cube Query">
	</command>
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.opaeum.uimodeler.modelexplorer.handler.CreateCubeQueryEditorCommandHandler" 
		description="Creates a new Cube Query Editor" id="org.opaeum.uimodeler.modelexplorer.handler.CreateCubeQueryEditorCommandHandler" name="Create a new Cube Query Editor">
	</command>
</extension>

	
<!-- UI Menu declaration for creation commands -->
<extension point="org.eclipse.ui.menus">

	<menuContribution locationURI="popup:org.eclipse.papyrus.views.modelexplorer.popupmenu.createchild" allPopups="false">
	
		<!-- Creation menu action for Abstraction -->
		<command commandId="org.opaeum.uimodeler.modelexplorer.handler.CreateEditorPageCommandHandler" 
		icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Class.gif" label="Create a new Editor Page" style="push" tooltip="Create a new Editor Page">
			<visibleWhen checkEnabled="true"/>
		</command>
		<command commandId="org.opaeum.uimodeler.modelexplorer.handler.CreateNewObjectWizardCommandHandler" 
		icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Class.gif" label="Create a new NewObjectWizard" style="push" tooltip="Create a new NewObjectWizard">
			<visibleWhen checkEnabled="true"/>
		</command>
		<command commandId="org.opaeum.uimodeler.modelexplorer.handler.CreateOperationActionPopupCommandHandler" 
		icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Class.gif" label="Create a new OperationActionPopup" style="push" tooltip="Create a new OperationActionPopup">
			<visibleWhen checkEnabled="true"/>
		</command>
		<command commandId="org.opaeum.uimodeler.modelexplorer.handler.CreatePrimaryEditorCommandHandler" 
		icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Class.gif" label="Create a new PrimaryEditor" style="push" tooltip="Create a new PrimaryEditor">
			<visibleWhen checkEnabled="true"/>
		</command>
		<command commandId="org.opaeum.uimodeler.modelexplorer.handler.CreateSecondaryEditorCommandHandler" 
		icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Class.gif" label="Create a new SecondaryEditor" style="push" tooltip="Create a new SecondaryEditor">
			<visibleWhen checkEnabled="true"/>
		</command>
		<command commandId="org.opaeum.uimodeler.modelexplorer.handler.CreateWizardPageCommandHandler" 
			icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Class.gif" label="Create a new WizardPage" style="push" tooltip="Create a new WizardPage">
			<visibleWhen checkEnabled="true"/>
		</command>
		<command commandId="org.opaeum.uimodeler.modelexplorer.handler.CreateOperationPopupPageCommandHandler" 
			icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Class.gif" label="Create a new OperationPopupPage" style="push" tooltip="Create a new OperationPopupPage">
			<visibleWhen checkEnabled="true"/>
		</command>
		<command commandId="org.opaeum.uimodeler.modelexplorer.handler.CreateCubeQueryCommandHandler" 
			icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Class.gif" label="Create a new CubeQuery" style="push" tooltip="Create a new CubeQuery">
			<visibleWhen checkEnabled="true"/>
		</command>
		<command commandId="org.opaeum.uimodeler.modelexplorer.handler.CreateCubeQueryEditorCommandHandler" 
			icon="platform:/plugin/org.eclipse.uml2.uml.edit/icons/full/obj16/Class.gif" label="Create a new CubeQueryEditor" style="push" tooltip="Create a new CubeQueryEditor">
			<visibleWhen checkEnabled="true"/>
		</command>
	</menuContribution>
</extension>

<!-- This declaration is added in order command (DeleteCommandHandler) status to be
     verified (isVisible and isEnabled) before any attempt to execute the command, 
     and to mask the command in case it is not supported or executable.
  -->
<extension point="org.eclipse.ui.startup">
	<startup class="org.eclipse.papyrus.views.modelexplorer.Activator"/>
</extension>
<extension point="org.eclipse.core.runtime.adapters">
   <factory adaptableType="org.eclipse.emf.facet.infra.browser.uicore.internal.model.ModelElementItem" class="org.opaeum.uimodeler.modelexplorer.factory.ModelElementItemFactory">
      <adapter type="org.opaeum.uim.UserInteractionElement">
      </adapter>
   </factory>
</extension>

   <extension point="org.eclipse.emf.facet.infra.facet.registration">
      <facetset file="resource/PapyrusUimFacet.facetSet">
      </facetset>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization
            file="resource/UimFacetDefaultBrowserCustomization.uiCustom"
            loadByDefault="true"/>
      <browserCustomization
            file="resource/UimNotationCustomization.uiCustom"
            loadByDefault="true">
      </browserCustomization>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.opaeum.uimodeler.modelexplorer.UimStartup">
      </startup>
   </extension>

</plugin>
