<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.opeum.eclipse.transformationStep">
      <transformationStep
            className="org.opeum.tinker.generator.TinkerTransformationStep">
      </transformationStep>
   </extension>

</plugin>
