<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="true"
          class="org.opaeum.uimodeler.util.UimContributionFactory"
          locationURI="popup:org.eclipse.ui.popup.any?before=additions">
    </menuContribution>
 </extension>

 <extension
       id="org.opaeum.uim.uiml2uim.transformationSteps"
       point="org.opaeum.eclipse.core.transformationStep">
    <transformationStep
          className="org.opaeum.uim.uml2uim.FormSynchronizer">
    </transformationStep>
 </extension>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="org.opaeum.uml2uim.UserInterfaceSynchronizerManager">
    </startup>
 </extension>
    <extension point="org.eclipse.emf.facet.infra.query.registration">
      <modelqueryset file="model/UimBrowserQuery.querySet"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.facet.registration">
      <facetset file="model/UmlUimFacet.facetSet">
      </facetset>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="model/UimUmlBrowserCustomization.uiCustom" loadByDefault="true"/>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.facet.registration">
      <facetset file="model/UimDiagramFacet.facetSet">
      </facetset>
   </extension>
   <extension point="org.eclipse.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="model/UimDiagramFacetBrowserCustomization.uiCustom" loadByDefault="true"/>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.service">
      <serviceFactory
            classname="org.opaeum.uim.resources.UimModelSetServiceFactory"
            description="The service loading Models - Overload the original service."
            id="org.eclipse.papyrus.infra.core.resource.ModelSet"
            priority="10"
            startKind="startup">
      </serviceFactory>
   </extension>
   <extension
         point="org.opaeum.eclipse.core.createChildActionProvider">
      <createChildActionProvider
            className="org.opaeum.uim.createchild.CreateChildActions">
      </createChildActionProvider>
   </extension>
   <extension
         id="org.opaeum.eclipse.activities"
         name="Opaeum Activities"
         point="org.eclipse.ui.activities">
      <activity
            id="org.opaeum.papyrus.uimadapter.activity"
            name="nameasdfads">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="asdf.org.eclipse.papyrus.infra.core.papyrusEditor">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="org.opaeum.papyrus.uimadapter.activity"
            isEqualityPattern="false"
            pattern="org\.eclipse\.papyrus\.uml\.diagram\.menu/*">
      </activityPatternBinding>
         </extension>   
</plugin>
