
/nakeduml-runtime-adaptor/.settings/
/nakeduml-runtime-adaptor/target
/nakeduml-runtime-bpm/.settings/
/nakeduml-runtime-bpm/target
/nakeduml-runtime-domain/.settings/
/nakeduml-runtime-domain/target
/nakeduml-test-adaptor/.settings/
/nakeduml-test-adaptor/target
nakeduml-bpm/.classpath
nakeduml-bpm/.project
nakeduml-bpm/.settings
nakeduml-bpm/pom.xml
nakeduml-bpm/src/main/generated-java
nakeduml-bpm/src/main/generated-resources
nakeduml-bpm/src/test/generated-java
nakeduml-bpm/src/test/generated-resources
nakeduml-bpm/target
nakeduml-bpm/test-output
nakeduml-runtime-bpm/.classpath
nakeduml-runtime-bpm/.project
nakeduml-runtime-bpm/.settings
nakeduml-runtime-bpm/pom.xml
nakeduml-runtime-bpm/src/main/generated-java
nakeduml-runtime-bpm/src/main/generated-resources
nakeduml-runtime-bpm/src/test/generated-java
nakeduml-runtime-bpm/src/test/generated-resources
nakeduml-runtime-bpm/target
nakeduml-runtime-bpm/test-output
