<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://opeum.sf.net/uimetamodel/1.0"
            class="org.opeum.uim.UimPackage"
            genModel="model/Uim.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="uim"
            class="org.opeum.uim.util.UimResourceFactoryImpl"/>
   </extension>

</plugin>
