<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.opeum.uim.modeleditor.editor.UimEditor"
            default="true"
            name="User Interaction Model Editor"
            id="org.opeum.uim.modeleditor.editor.UimEditor"
            contributorClass="org.opeum.uim.modeleditor.actions.UimEditorActionBarContributor"
            extensions="uimdi">
      </editor>
   </extension>
   
   
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.topcased.modeler.preferences.ModelerPreferencePage"
            class="org.opeum.uim.modeleditor.preferences.UimPreferencePage"
            id="org.opeum.uim.modeleditor.preferences.UimPreferencePage"
            name="Uim"/>
   </extension>
   
	<extension point="org.eclipse.ui.propertyPages">
		<page
			id="org.opeum.uim.modeleditor.preferences.property.UimPreferencePage"
			class="org.opeum.uim.modeleditor.preferences.UimPreferencePage"
			category="org.topcased.modeler.preferences.property.ModelerPreferencePage"
			name="Uim">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
	</extension>
   
   	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.opeum.uim.modeleditor.preferences.AllDiagramPreferenceInitializer"/>
	</extension>
	
</plugin>
