<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.topcased.modeler.templates">
      <template
            di="templates/componentdiagram/%name%.umldi"
            model="templates/componentdiagram/%name%.uml"
            name="Component Diagram"
            id="org.topcased.modeler.uml.componentdiagram.templates.componentdiagram"
            editorId="org.topcased.modeler.uml.editor.UMLEditor"/>
   </extension>
   
   <extension point="org.topcased.modeler.diagrams">
      <diagram
            configuration="org.topcased.modeler.uml.componentdiagram.ComponentConfiguration"
            editorID="org.topcased.modeler.uml.editor.UMLEditor"
            id="org.topcased.modeler.uml.componentdiagram"
            name="Component Diagram">
         <enableFor class="org.eclipse.uml2.uml.Component"/>
         <enableFor
               class="org.eclipse.uml2.uml.Package"
               creationCommand="org.topcased.modeler.uml.componentdiagram.commands.CreateComponentDiagramFromPackage">
         </enableFor>         
      </diagram>
	</extension>
	



	<extension point="org.eclipse.ui.preferencePages">
		<page
			id="org.topcased.modeler.uml.componentdiagram.preferences.ComponentDiagramPreferencePage"
			category="org.topcased.modeler.uml.preferences.UMLPreferencePage"
			class="org.topcased.modeler.uml.componentdiagram.preferences.ComponentDiagramPreferencePage"
			name="Component Diagram"/>
		<page
			id="org.topcased.modeler.uml.componentdiagram.preferences.ComponentPreferencePage"
			category="org.topcased.modeler.uml.componentdiagram.preferences.ComponentDiagramPreferencePage"
			class="org.topcased.modeler.uml.componentdiagram.preferences.ComponentPreferencePage"
			name="Component"/>
		<page
			id="org.topcased.modeler.uml.componentdiagram.preferences.ClassPreferencePage"
			category="org.topcased.modeler.uml.componentdiagram.preferences.ComponentDiagramPreferencePage"
			class="org.topcased.modeler.uml.componentdiagram.preferences.ClassPreferencePage"
			name="Class"/>
		<page
			id="org.topcased.modeler.uml.componentdiagram.preferences.InterfacePreferencePage"
			category="org.topcased.modeler.uml.componentdiagram.preferences.ComponentDiagramPreferencePage"
			class="org.topcased.modeler.uml.componentdiagram.preferences.InterfacePreferencePage"
			name="Interface"/>
		<page
			id="org.topcased.modeler.uml.componentdiagram.preferences.PortPreferencePage"
			category="org.topcased.modeler.uml.componentdiagram.preferences.ComponentDiagramPreferencePage"
			class="org.topcased.modeler.uml.componentdiagram.preferences.PortPreferencePage"
			name="Port"/>
		<page
			id="org.topcased.modeler.uml.componentdiagram.preferences.ComponentRealizationPreferencePage"
			category="org.topcased.modeler.uml.componentdiagram.preferences.ComponentDiagramPreferencePage"
			class="org.topcased.modeler.uml.componentdiagram.preferences.ComponentRealizationPreferencePage"
			name="Component Realization"/>
		<page
			id="org.topcased.modeler.uml.componentdiagram.preferences.InterfaceRealizationPreferencePage"
			category="org.topcased.modeler.uml.componentdiagram.preferences.ComponentDiagramPreferencePage"
			class="org.topcased.modeler.uml.componentdiagram.preferences.InterfaceRealizationPreferencePage"
			name="Interface Realization"/>
		<page
			id="org.topcased.modeler.uml.componentdiagram.preferences.UsagePreferencePage"
			category="org.topcased.modeler.uml.componentdiagram.preferences.ComponentDiagramPreferencePage"
			class="org.topcased.modeler.uml.componentdiagram.preferences.UsagePreferencePage"
			name="Usage"/>
	</extension>

	<extension point="org.eclipse.ui.propertyPages">
		<page
			id="org.topcased.modeler.uml.componentdiagram.preferences.property.ComponentDiagramPreferencePage"
			category="org.topcased.modeler.uml.preferences.property.UMLPreferencePage"
			class="org.topcased.modeler.uml.componentdiagram.preferences.ComponentDiagramPreferencePage"
			name="Component Diagram">       
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
		
		<page
			id="org.topcased.modeler.uml.componentdiagram.preferences.property.ComponentPreferencePage"
			category="org.topcased.modeler.uml.componentdiagram.preferences.property.ComponentDiagramPreferencePage"
			class="org.topcased.modeler.uml.componentdiagram.preferences.ComponentPreferencePage"
			name="Component">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
		
				<page
			id="org.topcased.modeler.uml.componentdiagram.preferences.property.ClassPreferencePage"
			category="org.topcased.modeler.uml.componentdiagram.preferences.property.ComponentDiagramPreferencePage"
			class="org.topcased.modeler.uml.componentdiagram.preferences.ClassPreferencePage"
			name="Class">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.uml.componentdiagram.preferences.property.InterfacePreferencePage"
			category="org.topcased.modeler.uml.componentdiagram.preferences.property.ComponentDiagramPreferencePage"
			class="org.topcased.modeler.uml.componentdiagram.preferences.InterfacePreferencePage"
			name="Interface">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.uml.componentdiagram.preferences.property.PortPreferencePage"
			category="org.topcased.modeler.uml.componentdiagram.preferences.property.ComponentDiagramPreferencePage"
			class="org.topcased.modeler.uml.componentdiagram.preferences.PortPreferencePage"
			name="Port">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.uml.componentdiagram.preferences.property.ComponentRealizationPreferencePage"
			category="org.topcased.modeler.uml.componentdiagram.preferences.property.ComponentDiagramPreferencePage"
			class="org.topcased.modeler.uml.componentdiagram.preferences.ComponentRealizationPreferencePage"
			name="Component Realization">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.uml.componentdiagram.preferences.property.InterfaceRealizationPreferencePage"
			category="org.topcased.modeler.uml.componentdiagram.preferences.property.ComponentDiagramPreferencePage"
			class="org.topcased.modeler.uml.componentdiagram.preferences.InterfaceRealizationPreferencePage"
			name="Interface Realization">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
		<page
			id="org.topcased.modeler.uml.componentdiagram.preferences.property.UsagePreferencePage"
			category="org.topcased.modeler.uml.componentdiagram.preferences.property.ComponentDiagramPreferencePage"
			class="org.topcased.modeler.uml.componentdiagram.preferences.UsagePreferencePage"
			name="Usage">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
		</page>
    	
	</extension>
 <extension
       point="org.topcased.modeler.topcasedPreferenceInitializer">
    <preferenceInitializer
          class="org.topcased.modeler.uml.componentdiagram.preferences.ComponentDiagramTopcasedPreferenceInitializer"
          editorId="org.topcased.modeler.uml.editor.UMLEditor"
          id="org.topcased.modeler.uml.componentdiagram.preferenceInitializer">
    </preferenceInitializer>
 </extension>
	<extension
       point="org.topcased.modeler.synchronizedModelDiagramRule">
       <synchronizedModelDiagramRule
          graphicType="org.topcased.modeler.uml.componentdiagram.edit.InterfaceEditPart"
          modelInterface="org.eclipse.uml2.uml.Interface"
          synchronizationRule="org.topcased.modeler.uml.componentdiagram.parentrule.InterfaceComponentDiagramParentRule">
       <description>
        This rule allow dragAnddrop of interface from Class diagram
       </description>
    </synchronizedModelDiagramRule>
 </extension>
 
	<extension
       point="org.topcased.modeler.synchronizedModelDiagramRule">
       <synchronizedModelDiagramRule
          graphicType="org.topcased.modeler.uml.componentdiagram.edit.ComponentEditPart"
          modelInterface="org.eclipse.uml2.uml.Component"
          synchronizationRule="org.topcased.modeler.uml.componentdiagram.parentrule.ComponentComponentDiagramParentRule">
       <description>
        This rule allow dragAnddrop of interface from Class diagram
       </description>
    </synchronizedModelDiagramRule>
    <synchronizedModelDiagramRule
          graphicType="org.topcased.modeler.uml.componentdiagram.edit.ClassEditPart"
          modelInterface="org.eclipse.uml2.uml.Class"
          synchronizationRule="org.topcased.modeler.uml.parentrule.PartWithHeaderLabelSuffixParentRule">
       <description>
          Some EditParts already display a label suffix indicating from which package an element is imported. For these EditParts, this rule ensures that no redundant decorator appears if a &quot;From package&quot; information is already provided.
       </description>
    </synchronizedModelDiagramRule>
 </extension>
 <extension
       point="org.topcased.modeler.moveElementFilter">
    <DiagramKeeper
          configuration="org.topcased.modeler.uml.componentdiagram"
          keeper="org.topcased.modeler.uml.componentdiagram.ComponentDiagramKeeper">
    </DiagramKeeper>
 </extension> 
 
</plugin>
