<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
		<propertyTabs contributorId="TreeOutlinePage">
			<propertyTab
				category="domain"
				indented="true"
				afterTab="org.opaeum.eclipse.opaeumTab"
				id="org.opaeum.uim.userinteractionproperties.constraints.visibility"
				label="Visibility Constraints"/>    
			<propertyTab
				category="domain"
				indented="true"
				id="org.opaeum.uim.userinteractionproperties.constraints.editability"
				afterTab="org.opaeum.uim.userinteractionproperties.constraints.visibility"
				label="Editability Constraints"/>    
			<propertyTab
				category="domain"
				indented="true"
				id="org.opaeum.uim.userinteractionproperties.control"
				afterTab="org.opaeum.eclipse.opaeumTab"
				label="Control"/>    

			<propertyTab category="uiRules" indented="false"
				id="org.opaeum.uim.userinteractionproperties.navigation"
				afterTab="org.opaeum.eclipse.templateTab"
				label="UI Rules for View"/>    
			<propertyTab id="org.opaeum.eclipse.i8nTab" category="uiRules" afterTab="org.opaeum.uim.userinteractionproperties.navigation"
				label="Languages" indented="true" />
			
		
			<propertyTab
				category="uiRules"
				indented="true"
				id="org.opaeum.uim.userinteractionproperties.securityOnAdd"
				afterTab="org.opaeum.eclipse.i8nTab"
				label="UI Rules for Add"/>    
			<propertyTab
				category="uiRules"
				indented="true"
				id="org.opaeum.uim.userinteractionproperties.securityOnRemove"
				afterTab="org.opaeum.uim.userinteractionproperties.securityOnAdd"
				label="UI Rules for Remove"/>    
			<propertyTab
				category="uiRules"
				indented="true"
				id="org.opaeum.uim.userinteractionproperties.securityOnEdit"
				afterTab="org.opaeum.uim.userinteractionproperties.securityOnRemove"
				label="UI Rules for Edit"/>    
		</propertyTabs>
	</extension>

	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections contributorId="TreeOutlinePage">
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.UserInteractionElementNameSection"
				tab="org.opaeum.eclipse.opaeumTab"
				filter="org.opaeum.uim.userinteractionproperties.filters.UserInteractionElementFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.UserInteractionElementNameSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.UserInteractionElementIsUnderUserControlSection"
				tab="org.opaeum.eclipse.opaeumTab"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.UserInteractionElementNameSection"
				filter="org.opaeum.uim.userinteractionproperties.filters.UserInteractionElementFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.UserInteractionElementIsUnderUserControlSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.OutlayableFeaturesSection"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.UserInteractionElementNameSection"
				tab="org.opaeum.eclipse.opaeumTab"
				filter="org.opaeum.uim.userinteractionproperties.filters.OutlayableFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.OutlayableFeaturesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.UimFieldBindingSection"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.UserInteractionElementNameSection"
				tab="org.opaeum.eclipse.opaeumTab"
				filter="org.opaeum.uim.userinteractionproperties.filters.ColumOrFormFieldFilter"
				class="org.opaeum.uim.userinteractionproperties.binding.UimFieldBindingSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.UimFieldLabelWidthSection"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.UimFieldBindingSection"
				tab="org.opaeum.eclipse.opaeumTab"
				filter="org.opaeum.uim.userinteractionproperties.filters.FormFieldFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.UimFieldLabelWidthSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.CubeQueryCubeSourceSection"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.UserInteractionElementIsUnderUserControlSection"
				tab="org.opaeum.eclipse.opaeumTab"
				filter="org.opaeum.uim.userinteractionproperties.filters.CubeQueryFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.CubeQueryCubeSourceSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.UimFieldControlKindSection"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.UimFieldBindingSection"
				tab="org.opaeum.eclipse.opaeumTab"
				filter="org.opaeum.uim.userinteractionproperties.filters.ColumOrFormFieldFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.UimFieldControlKindSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.GridPanelNumberOfColumnsSection"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.UimFieldControlKindSection"
				tab="org.opaeum.eclipse.opaeumTab"
				filter="org.opaeum.uim.userinteractionproperties.filters.GridPanelFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.GridPanelNumberOfColumnsSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.OutlayableColumnFeaturesSection"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.UimFieldControlKindSection"
				tab="org.opaeum.eclipse.opaeumTab"
				filter="org.opaeum.uim.userinteractionproperties.filters.OutlayableInRowFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.OutlayableColumnFeaturesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.BuiltInActionKindSection"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.UserInteractionElementNameSection"
				tab="org.opaeum.eclipse.opaeumTab"
				filter="org.opaeum.uim.userinteractionproperties.filters.BuiltInActionButtonFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.BuiltInActionButtonKindSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.OperationActionOperationSection"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.UserInteractionElementNameSection"
				tab="org.opaeum.eclipse.opaeumTab"
				filter="org.opaeum.uim.userinteractionproperties.filters.InvocationButtonFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.InvocationButtonOperationSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.UimFieldOrientationSection"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.OutlayableFeaturesSection"
				tab="org.opaeum.eclipse.opaeumTab"
				filter="org.opaeum.uim.userinteractionproperties.filters.FormFieldFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.UimFieldOrientationSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.LinkToQueryOperationSection"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.UserInteractionElementNameSection"
				tab="org.opaeum.eclipse.opaeumTab"
				filter="org.opaeum.uim.userinteractionproperties.filters.LinkToQueryFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.LinkToQueryOperationSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.BuiltInLinkKindSection"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.UserInteractionElementNameSection"
				tab="org.opaeum.eclipse.opaeumTab"
				filter="org.opaeum.uim.userinteractionproperties.filters.BuiltInLinkFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.BuiltInLinkKindSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.UimDataTableBindingSection"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.OutlayableFeaturesSection"
				tab="org.opaeum.eclipse.opaeumTab"
				filter="org.opaeum.uim.userinteractionproperties.filters.UimDataTableFilter"
				class="org.opaeum.uim.userinteractionproperties.binding.UimDataTableBindingSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.VisibilityUserInteractionConstraintBooleanFeaturesSection"
				tab="org.opaeum.uim.userinteractionproperties.constraints.visibility"
				filter="org.opaeum.uim.userinteractionproperties.filters.ConstrainedObjectFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.VisibilityUserInteractionConstraintBooleanFeaturesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.EditabilityUserInteractionConstraintBooleanFeaturesSection"
				tab="org.opaeum.uim.userinteractionproperties.constraints.editability"
				filter="org.opaeum.uim.userinteractionproperties.filters.EditableConstrainedObjectFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.EditabilityUserInteractionConstraintBooleanFeaturesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.VisibilityRequiredRolesSection"
				tab="org.opaeum.uim.userinteractionproperties.constraints.visibility"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.VisibilityUserInteractionConstraintBooleanFeaturesSection"
				filter="org.opaeum.uim.userinteractionproperties.filters.ConstrainedObjectFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.VisibilityRequiredRolesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.EditabilityRequiredRolesSection"
				tab="org.opaeum.uim.userinteractionproperties.constraints.editability"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.EditabilityUserInteractionConstraintBooleanFeaturesSection"
				filter="org.opaeum.uim.userinteractionproperties.filters.EditableConstrainedObjectFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.EditabilityRequiredRolesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.VisibilityRequiredStatesSection"
				tab="org.opaeum.uim.userinteractionproperties.constraints.visibility"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.VisibilityRequiredRolesSection"
				filter="org.opaeum.uim.userinteractionproperties.filters.ConstrainedObjectFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.VisibilityRequiredStatesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.EditabilityRequiredStatesSection"
				tab="org.opaeum.uim.userinteractionproperties.constraints.editability"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.EditabilityRequiredRolesSection"
				filter="org.opaeum.uim.userinteractionproperties.filters.EditableConstrainedObjectFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.EditabilityRequiredStatesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.ControlFeaturesSection"
				tab="org.opaeum.uim.userinteractionproperties.control"
				filter="org.opaeum.uim.userinteractionproperties.filters.ColumOrFormFieldFilter"
				class="org.opaeum.uim.userinteractionproperties.uimcontrol.ControlFeaturesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.AxisEntryDimensionBindingSection"
				tab="org.opaeum.eclipse.opaeumTab"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.UserInteractionElementIsUnderUserControlSection"
				filter="org.opaeum.uim.userinteractionproperties.filters.AxisEntryFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.AxisEntryDimensionBindingSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.AxisEntryLevelPropertiesSection"
				tab="org.opaeum.eclipse.opaeumTab"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.AxisEntryDimensionBindingSection"
				filter="org.opaeum.uim.userinteractionproperties.filters.AxisEntryFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.AxisEntryLevelPropertiesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.MeasurePropertyPropertySection"
				tab="org.opaeum.eclipse.opaeumTab"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.AxisEntryDimensionBindingSection"
				filter="org.opaeum.uim.userinteractionproperties.filters.MeasurePropertyFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.MeasurePropertyPropertySection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.MeasurePropertyAggregationFormulaSection"
				tab="org.opaeum.eclipse.opaeumTab"
				afterSection="org.opaeum.uim.userinteractionproperties.sections.MeasurePropertyPropertySection"
				filter="org.opaeum.uim.userinteractionproperties.filters.MeasurePropertyFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.MeasurePropertyAggregationFormulaSection">
			</propertySection>
			
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.navigation.NavigableElementConstraintBooleanFeaturesSection"
				tab="org.opaeum.uim.userinteractionproperties.navigation"
				filter="org.opaeum.uim.userinteractionproperties.filters.uml.DisplayableUmlElementFilter"
				class="org.opaeum.uim.userinteractionproperties.uml.NavigableElementConstraintBooleanFeaturesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.navigation.NavigableElementRequiredRolesSection"
				tab="org.opaeum.uim.userinteractionproperties.navigation"
				afterSection="org.opaeum.uim.userinteractionproperties.navigation.NavigableElementConstraintBooleanFeaturesSection"
				filter="org.opaeum.uim.userinteractionproperties.filters.uml.DisplayableUmlElementFilter"
				class="org.opaeum.uim.userinteractionproperties.uml.NavigableElementRequiredRolesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.navigation.NavigableElementRequiredStatesSection"
				tab="org.opaeum.uim.userinteractionproperties.navigation"
				afterSection="org.opaeum.uim.userinteractionproperties.navigation.NavigableElementRequiredRolesSection"
				filter="org.opaeum.uim.userinteractionproperties.filters.uml.DisplayableUmlElementFilter"
				class="org.opaeum.uim.userinteractionproperties.uml.NavigableElementRequiredStatesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.navigation.SecurityOnAddBooleanFeaturesSection"
				tab="org.opaeum.uim.userinteractionproperties.securityOnAdd"
				filter="org.opaeum.uim.userinteractionproperties.filters.uml.AddableAndRemovableUmlElementFilter"
				class="org.opaeum.uim.userinteractionproperties.uml.SecurityOnAddBooleanFeaturesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.navigation.SecurityOnAddRequiredRolesSection"
				tab="org.opaeum.uim.userinteractionproperties.securityOnAdd"
				afterSection="org.opaeum.uim.userinteractionproperties.navigation.SecurityOnAddBooleanFeaturesSection"
				filter="org.opaeum.uim.userinteractionproperties.filters.uml.AddableAndRemovableUmlElementFilter"
				class="org.opaeum.uim.userinteractionproperties.uml.SecurityOnAddRequiredRolesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.navigation.SecurityOnAddRequiredStatesSection"
				tab="org.opaeum.uim.userinteractionproperties.securityOnAdd"
				afterSection="org.opaeum.uim.userinteractionproperties.navigation.SecurityOnAddRequiredRolesSection"
				filter="org.opaeum.uim.userinteractionproperties.filters.uml.AddableAndRemovableUmlElementFilter"
				class="org.opaeum.uim.userinteractionproperties.uml.SecurityOnAddRequiredStatesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.navigation.SecurityOnRemoveBooleanFeaturesSection"
				tab="org.opaeum.uim.userinteractionproperties.securityOnRemove"
				filter="org.opaeum.uim.userinteractionproperties.filters.uml.AddableAndRemovableUmlElementFilter"
				class="org.opaeum.uim.userinteractionproperties.uml.SecurityOnRemoveBooleanFeaturesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.navigation.SecurityOnRemoveRequiredRolesSection"
				tab="org.opaeum.uim.userinteractionproperties.securityOnRemove"
				afterSection="org.opaeum.uim.userinteractionproperties.navigation.SecurityOnRemoveBooleanFeaturesSection"
				filter="org.opaeum.uim.userinteractionproperties.filters.uml.AddableAndRemovableUmlElementFilter"
				class="org.opaeum.uim.userinteractionproperties.uml.SecurityOnRemoveRequiredRolesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.navigation.SecurityOnRemoveRequiredStatesSection"
				tab="org.opaeum.uim.userinteractionproperties.securityOnRemove"
				afterSection="org.opaeum.uim.userinteractionproperties.navigation.SecurityOnRemoveRequiredRolesSection"
				filter="org.opaeum.uim.userinteractionproperties.filters.uml.AddableAndRemovableUmlElementFilter"
				class="org.opaeum.uim.userinteractionproperties.uml.SecurityOnRemoveRequiredStatesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.navigation.SecurityOnEditBooleanFeaturesSection"
				tab="org.opaeum.uim.userinteractionproperties.securityOnEdit"
				filter="org.opaeum.uim.userinteractionproperties.filters.uml.EditableUmlElementFilter"
				class="org.opaeum.uim.userinteractionproperties.uml.SecurityOnEditBooleanFeaturesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.navigation.SecurityOnEditRequiredRolesSection"
				tab="org.opaeum.uim.userinteractionproperties.securityOnEdit"
				afterSection="org.opaeum.uim.userinteractionproperties.navigation.SecurityOnEditBooleanFeaturesSection"
				filter="org.opaeum.uim.userinteractionproperties.filters.uml.EditableUmlElementFilter"
				class="org.opaeum.uim.userinteractionproperties.uml.SecurityOnEditRequiredRolesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.navigation.SecurityOnEditRequiredStatesSection"
				tab="org.opaeum.uim.userinteractionproperties.securityOnRemove"
				afterSection="org.opaeum.uim.userinteractionproperties.navigation.SecurityOnEditRequiredRolesSection"
				filter="org.opaeum.uim.userinteractionproperties.filters.uml.EditableUmlElementFilter"
				class="org.opaeum.uim.userinteractionproperties.uml.SecurityOnEditRequiredStatesSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.uml.NamedElementUserInterfaceTextSection"
				tab="org.opaeum.eclipse.i8nTab"
				filter="org.opaeum.uim.userinteractionproperties.filters.uml.DisplayableUmlElementFilter"
				class="org.opaeum.uim.userinteractionproperties.uml.NamedElementUserInterfaceTextSection">
			</propertySection>
			<propertySection
				id="org.opaeum.uim.userinteractionproperties.sections.LabeledElementUserInterfaceTextSection"
				tab="org.opaeum.eclipse.i8nTab"
				filter="org.opaeum.uim.userinteractionproperties.filters.LabeledElementFilter"
				class="org.opaeum.uim.userinteractionproperties.sections.LabeledElementUserInterfaceTextSection">
			</propertySection>
			
		</propertySections>
	</extension>
	
</plugin>
